# Pandas Basics

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np

df = pd.read_pickle('country.pkl') 
# pickle is also a type of file where models, dataframes can be stored

df.head()

           country  year  population  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia

In [2]:
# Unique values in a column

df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [3]:
# Getting values with continent as Asia

asia = df["continent"] == "Asia" # Will get all the indices and return boolean
print(asia)
print()

temp1 = df[asia] # Using indices to extract the rows
temp1.head()

index
1001     True
1002     True
1003     True
1004     True
1005     True
        ...
2700    False
2701    False
2702    False
2703    False
2704    False
Name: continent, Length: 1704, dtype: bool

           country  year  population  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia

In [4]:
# OR

df[df["continent"]=="Asia"]

           country  year  population  life exp      gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801   779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN   820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997   853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020   836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088   739.981106      Asia
...            ...   ...         ...       ...          ...       ...
2676   Yemen, Rep.  1987  11219340.0    52.922  1971.741538      Asia
2677   Yemen, Rep.  1992  13367997.0    55.599  1879.496673      Asia
2678   Yemen, Rep.  1997  15826497.0    58.020  2117.484526      Asia
2679   Yemen, Rep.  2002  18701257.0    60.308  2234.820827      Asia
2680   Yemen, Rep.  2007  22211743.0    62.698  2280.769906      Asia

[396 rows x 6 columns]

In [5]:
# Getting values with Max value of year

temp = df[df['year']==df['year'].max()]
temp

                  country  year  population  life exp       gdp_cap continent
index
1012          Afghanistan  2007  31889923.0    43.828    974.580338      Asia
1024              Albania  2007   3600523.0    76.423   5937.029526    Europe
1036              Algeria  2007  33333216.0    72.301   6223.367465    Africa
1048               Angola  2007  12420476.0    42.731   4797.231267    Africa
1060            Argentina  2007  40301927.0    75.320  12779.379640  Americas
...                   ...   ...         ...       ...           ...       ...
2656              Vietnam  2007  85262356.0    74.249   2441.576404      Asia
2668   West Bank and Gaza  2007   4018332.0    73.422   3025.349798      Asia
2680          Yemen, Rep.  2007  22211743.0    62.698   2280.769906      Asia
2692               Zambia  2007  11746035.0    42.384   1271.211593    Africa
2704             Zimbabwe  2007         NaN    43.487    469.709298    Africa

[142 rows x 6 columns]

In [6]:
# Getting values with values less than mean of Life Expectancy

temp2=df[df["life exp"]<df["life exp"].mean()]
temp2

           country  year  population  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia
1006   Afghanistan  1977  14880372.0    38.438  786.113360      Asia
...            ...   ...         ...       ...         ...       ...
2697      Zimbabwe  1972   5861135.0    55.635  799.362176    Africa
2698      Zimbabwe  1977   6642107.0    57.674  685.587682    Africa
2702      Zimbabwe  1997  11404948.0    46.809  792.449960    Africa
2703      Zimbabwe  2002  11926563.0    39.989  672.038623    Africa
2704      Zimbabwe  2007         NaN    43.487  469.709298    Africa

[802 rows x 6 columns]

In [7]:
# Getting values with more than one conditions

temp3 = df[(df["continent"]=="Asia") & (df["life exp"]>df["life exp"].mean())]
temp3.head()

       country  year  population  life exp      gdp_cap continent
index
1088   Bahrain  1967    202182.0    59.923  14804.67270      Asia
1089   Bahrain  1972    230800.0    63.300  18268.65839      Asia
1090   Bahrain  1977    297410.0    65.593  19340.10196      Asia
1091   Bahrain  1982    377967.0    69.052  19211.14731      Asia
1092   Bahrain  1987    454612.0    70.750  18524.02406      Asia

In [8]:
temp3 = df[(df["continent"]=="Asia") | (df["life exp"]<df["life exp"].mean())]
temp3.head()

           country  year  population  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia

In [9]:
temp4 = df[(df["continent"]=="Asia") | (df["continent"]=="Asia")]
temp4.head()

           country  year  population  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia

In [10]:
# OR

temp5 = df[df["continent"].isin(['Asia','Africa'])]
temp5.head()

           country  year  population  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia

In [11]:
#Inverse of above

temp6 = df[~df["continent"].isin(['Asia','Africa'])]
temp6.head()

       country  year  population  life exp      gdp_cap continent
index
1013   Albania  1952   1282697.0     55.23  1601.056136    Europe
1014   Albania  1957   1476505.0     59.28  1942.284244    Europe
1015   Albania  1962   1728137.0     64.82  2312.888958    Europe
1016   Albania  1967   1984060.0     66.22  2760.196931    Europe
1017   Albania  1972   2263554.0     67.69  3313.422188    Europe

In [12]:
# Sorting by conditions
# 1. Sort by year
# 2. Sort by year in descending
# 3. Sort by Population descending and NA values first


#df.sort_values(['year'])
#df.sort_values(['year'],ascending=False)
df.sort_values(['population'],ascending=False, na_position='first')

                     country  year  population  life exp      gdp_cap continent
index
1007             Afghanistan  1982         NaN    39.854   978.011439      Asia
1123                   Benin  1962         NaN    42.618   949.499064    Africa
1210                 Burundi  1977         NaN    45.910   556.103265    Africa
1239                Cameroon  2002         NaN    49.856  1934.011449    Africa
1268                    Chad  1967         NaN    43.601  1196.810565    Africa
...                      ...   ...         ...       ...          ...       ...
2300   Sao Tome and Principe  1967     70787.0    54.425  1384.840593    Africa
2299   Sao Tome and Principe  1962     65345.0    51.893  1071.551119    Africa
1421                Djibouti  1952     63149.0    34.812  2669.529475    Africa
2298   Sao Tome and Principe  1957     61325.0    48.945   860.736903    Africa
2297   Sao Tome and Principe  1952     60011.0    46.471   879.583586    Africa

[1704 rows x 6 columns]

In [13]:
# Sort by Year in ascending and then by Population in descending

df.sort_values(['year', 'population'],ascending=(True,False))

                     country  year  ...       gdp_cap  continent
index                               ...
1289                   China  1952  ...    400.448611       Asia
1697                   India  1952  ...    546.565749       Asia
2609           United States  1952  ...  13990.482080   Americas
1793                   Japan  1952  ...   3216.956347       Asia
1709               Indonesia  1952  ...    749.681655       Asia
...                      ...   ...  ...           ...        ...
1432                Djibouti  2007  ...   2082.481567     Africa
1696                 Iceland  2007  ...  36180.789190     Europe
2308   Sao Tome and Principe  2007  ...   1598.435089     Africa
1564                  Gambia  2007  ...    752.749726     Africa
2704                Zimbabwe  2007  ...    469.709298     Africa

[1704 rows x 6 columns]

In [ ]:
?df.sort_values

In [14]:
# Rename Population to pop

df = df.rename({'population':'pop'}, axis=1)
df.head()

           country  year         pop  life exp     gdp_cap continent
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia

In [15]:
# Renaming Row index

df = df.rename({1001:1000}, axis=0)
df.head

<bound method NDFrame.head of            country  year         pop  life exp     gdp_cap continent
index
1000   Afghanistan  1952   8425333.0    28.801  779.445314      Asia
1002   Afghanistan  1957   9240934.0       NaN  820.853030      Asia
1003   Afghanistan  1962  10267083.0    31.997  853.100710      Asia
1004   Afghanistan  1967  11537966.0    34.020  836.197138      Asia
1005   Afghanistan  1972  13079460.0    36.088  739.981106      Asia
...            ...   ...         ...       ...         ...       ...
2700      Zimbabwe  1987   9216418.0    62.351  706.157306    Africa
2701      Zimbabwe  1992  10704340.0    60.377  693.420786    Africa
2702      Zimbabwe  1997  11404948.0    46.809  792.449960    Africa
2703      Zimbabwe  2002  11926563.0    39.989  672.038623    Africa
2704      Zimbabwe  2007         NaN    43.487  469.709298    Africa

[1704 rows x 6 columns]>

In [16]:
# Getting values of DataFrame by specifying Columns

df = df[["country","continent","year","pop","life exp","gdp_cap"]]
df.head()

           country continent  year         pop  life exp     gdp_cap
index
1000   Afghanistan      Asia  1952   8425333.0    28.801  779.445314
1002   Afghanistan      Asia  1957   9240934.0       NaN  820.853030
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.100710
1004   Afghanistan      Asia  1967  11537966.0    34.020  836.197138
1005   Afghanistan      Asia  1972  13079460.0    36.088  739.981106

In [17]:
# Missing Values Check

df.isna() # will return Binary

       country  continent   year    pop  life exp  gdp_cap
index
1000     False      False  False  False     False    False
1002     False      False  False  False      True    False
1003     False      False  False  False     False    False
1004     False      False  False  False     False    False
1005     False      False  False  False     False    False
...        ...        ...    ...    ...       ...      ...
2700     False      False  False  False     False    False
2701     False      False  False  False     False    False
2702     False      False  False  False     False    False
2703     False      False  False  False     False    False
2704     False      False  False   True     False    False

[1704 rows x 6 columns]

In [18]:
# Check if there is any Missing value in any column

df.isna().any()

country      False
continent    False
year         False
pop           True
life exp      True
gdp_cap       True
dtype: bool

In [19]:
# Simply dropping NA (Not Recommended)

temp = df.dropna(axis=1)
temp

           country continent  year
index
1000   Afghanistan      Asia  1952
1002   Afghanistan      Asia  1957
1003   Afghanistan      Asia  1962
1004   Afghanistan      Asia  1967
1005   Afghanistan      Asia  1972
...            ...       ...   ...
2700      Zimbabwe    Africa  1987
2701      Zimbabwe    Africa  1992
2702      Zimbabwe    Africa  1997
2703      Zimbabwe    Africa  2002
2704      Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [20]:
# Drop Column if it has more than 2% of NA

temp = df.dropna(axis=1, thresh=len(df)*0.98) # drop column if it has more than 2% of na
temp

           country continent  year  life exp     gdp_cap
index
1000   Afghanistan      Asia  1952    28.801  779.445314
1002   Afghanistan      Asia  1957       NaN  820.853030
1003   Afghanistan      Asia  1962    31.997  853.100710
1004   Afghanistan      Asia  1967    34.020  836.197138
1005   Afghanistan      Asia  1972    36.088  739.981106
...            ...       ...   ...       ...         ...
2700      Zimbabwe    Africa  1987    62.351  706.157306
2701      Zimbabwe    Africa  1992    60.377  693.420786
2702      Zimbabwe    Africa  1997    46.809  792.449960
2703      Zimbabwe    Africa  2002    39.989  672.038623
2704      Zimbabwe    Africa  2007    43.487  469.709298

[1704 rows x 5 columns]

In [21]:
# Count of Non Missing values in each column

df.count()

country      1704
continent    1704
year         1704
pop          1669
life exp     1687
gdp_cap      1699
dtype: int64

In [22]:
# Creating copy of Data Frame

temp = df.copy()
print(temp.head())

print("-----")

# Filling NA values of Life expectancy of temp with 0
temp['life exp'].fillna(0, inplace=True)
print(temp.head())

           country continent  year         pop  life exp     gdp_cap
index
1000   Afghanistan      Asia  1952   8425333.0    28.801  779.445314
1002   Afghanistan      Asia  1957   9240934.0       NaN  820.853030
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.100710
1004   Afghanistan      Asia  1967  11537966.0    34.020  836.197138
1005   Afghanistan      Asia  1972  13079460.0    36.088  739.981106
-----
           country continent  year         pop  life exp     gdp_cap
index
1000   Afghanistan      Asia  1952   8425333.0    28.801  779.445314
1002   Afghanistan      Asia  1957   9240934.0     0.000  820.853030
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.100710
1004   Afghanistan      Asia  1967  11537966.0    34.020  836.197138
1005   Afghanistan      Asia  1972  13079460.0    36.088  739.981106

In [23]:
# Filling Missing values with previous row value for Life exp column

temp = df.copy()
temp['life exp'].fillna(method="ffill", inplace=True)
temp.head()

           country continent  year         pop  life exp     gdp_cap
index
1000   Afghanistan      Asia  1952   8425333.0    28.801  779.445314
1002   Afghanistan      Asia  1957   9240934.0    28.801  820.853030
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.100710
1004   Afghanistan      Asia  1967  11537966.0    34.020  836.197138
1005   Afghanistan      Asia  1972  13079460.0    36.088  739.981106

In [24]:
# Filling Missing values with next row value for Life exp column

temp = df.copy()
temp['life exp'].fillna(method="bfill", inplace=True)
temp.head()

           country continent  year         pop  life exp     gdp_cap
index
1000   Afghanistan      Asia  1952   8425333.0    28.801  779.445314
1002   Afghanistan      Asia  1957   9240934.0    31.997  820.853030
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.100710
1004   Afghanistan      Asia  1967  11537966.0    34.020  836.197138
1005   Afghanistan      Asia  1972  13079460.0    36.088  739.981106

### loc and iloc

In [25]:
# Select all rows with a condition

df.loc[df.country == "India"]

      country continent  year           pop  life exp      gdp_cap
index
1697    India      Asia  1952  3.720000e+08    37.373   546.565749
1698    India      Asia  1957  4.090000e+08    40.249   590.061996
1699    India      Asia  1962  4.540000e+08    43.605   658.347151
1700    India      Asia  1967  5.060000e+08    47.193   700.770611
1701    India      Asia  1972  5.670000e+08    50.651   724.032527
1702    India      Asia  1977  6.340000e+08    54.208   813.337323
1703    India      Asia  1982  7.080000e+08    56.596   855.723538
1704    India      Asia  1987  7.880000e+08    58.553   976.512676
1705    India      Asia  1992  8.720000e+08    60.223  1164.406809
1706    India      Asia  1997  9.590000e+08    61.765  1458.817442
1707    India      Asia  2002  1.034173e+09    62.879  1746.769454
1708    India      Asia  2007  1.110396e+09    64.698  2452.210407

In [26]:
# Select with multiple conditions

df.loc[(df.country == "India") & (df.year < 2000)]

      country continent  year          pop  life exp      gdp_cap
index
1697    India      Asia  1952  372000000.0    37.373   546.565749
1698    India      Asia  1957  409000000.0    40.249   590.061996
1699    India      Asia  1962  454000000.0    43.605   658.347151
1700    India      Asia  1967  506000000.0    47.193   700.770611
1701    India      Asia  1972  567000000.0    50.651   724.032527
1702    India      Asia  1977  634000000.0    54.208   813.337323
1703    India      Asia  1982  708000000.0    56.596   855.723538
1704    India      Asia  1987  788000000.0    58.553   976.512676
1705    India      Asia  1992  872000000.0    60.223  1164.406809
1706    India      Asia  1997  959000000.0    61.765  1458.817442

In [27]:
# Slicing using loc

df.loc[1001:1004] # getting rows for indices 1001 to 1004

           country continent  year         pop  life exp     gdp_cap
index
1002   Afghanistan      Asia  1957   9240934.0       NaN  820.853030
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.100710
1004   Afghanistan      Asia  1967  11537966.0    34.020  836.197138

In [29]:
# Update a Column values with condition

temp = df.copy()
temp.loc[(temp.country == "India"), ['continent']] = 'Asian Continent'
temp.loc[temp.country == "India"]

      country        continent  year           pop  life exp      gdp_cap
index
1697    India  Asian Continent  1952  3.720000e+08    37.373   546.565749
1698    India  Asian Continent  1957  4.090000e+08    40.249   590.061996
1699    India  Asian Continent  1962  4.540000e+08    43.605   658.347151
1700    India  Asian Continent  1967  5.060000e+08    47.193   700.770611
1701    India  Asian Continent  1972  5.670000e+08    50.651   724.032527
1702    India  Asian Continent  1977  6.340000e+08    54.208   813.337323
1703    India  Asian Continent  1982  7.080000e+08    56.596   855.723538
1704    India  Asian Continent  1987  7.880000e+08    58.553   976.512676
1705    India  Asian Continent  1992  8.720000e+08    60.223  1164.406809
1706    India  Asian Continent  1997  9.590000e+08    61.765  1458.817442
1707    India  Asian Continent  2002  1.034173e+09    62.879  1746.769454
1708    India  Asian Continent  2007  1.110396e+09    64.698  2452.210407

In [30]:
# Update multiple columns with condition

temp = df.copy()
temp.loc[(temp.country == "India"), ['continent', 'country']] = ['Asian Continent', "Bharat"]
temp.loc[temp.country == "Bharat"]

      country        continent  year           pop  life exp      gdp_cap
index
1697   Bharat  Asian Continent  1952  3.720000e+08    37.373   546.565749
1698   Bharat  Asian Continent  1957  4.090000e+08    40.249   590.061996
1699   Bharat  Asian Continent  1962  4.540000e+08    43.605   658.347151
1700   Bharat  Asian Continent  1967  5.060000e+08    47.193   700.770611
1701   Bharat  Asian Continent  1972  5.670000e+08    50.651   724.032527
1702   Bharat  Asian Continent  1977  6.340000e+08    54.208   813.337323
1703   Bharat  Asian Continent  1982  7.080000e+08    56.596   855.723538
1704   Bharat  Asian Continent  1987  7.880000e+08    58.553   976.512676
1705   Bharat  Asian Continent  1992  8.720000e+08    60.223  1164.406809
1706   Bharat  Asian Continent  1997  9.590000e+08    61.765  1458.817442
1707   Bharat  Asian Continent  2002  1.034173e+09    62.879  1746.769454
1708   Bharat  Asian Continent  2007  1.110396e+09    64.698  2452.210407

In [31]:
# Select rows with indexes

df.iloc[[0,2]]

           country continent  year         pop  life exp     gdp_cap
index
1000   Afghanistan      Asia  1952   8425333.0    28.801  779.445314
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.100710

In [32]:
# Select rows with particular indexes and particular columns

df.iloc[[0,2],[1,3]]

      continent         pop
index
1000       Asia   8425333.0
1003       Asia  10267083.0

In [33]:
# Select a range of rows

df.iloc[1:3]

           country continent  year         pop  life exp    gdp_cap
index
1002   Afghanistan      Asia  1957   9240934.0       NaN  820.85303
1003   Afghanistan      Asia  1962  10267083.0    31.997  853.10071

In [34]:
# Select a range of rows and columns

df.iloc[1:3,2:4]

       year         pop
index
1002   1957   9240934.0
1003   1962  10267083.0

### Iterating through Rows: iterrows and itertuples

In [35]:
df.iterrows()

In [36]:
for index, row in df.iterrows():
    print(row)

Streaming output truncated to the last 5000 lines.
gdp_cap        7674.93
Name: 1990, dtype: object
country           Mexico
continent       Americas
year                1982
pop          7.16409e+07
life exp          67.405
gdp_cap          9611.15
Name: 1991, dtype: object
country           Mexico
continent       Americas
year                1987
pop          8.01225e+07
life exp          69.498
gdp_cap          8688.16
Name: 1992, dtype: object
country          Mexico
continent      Americas
year               1992
pop          8.8111e+07
life exp         71.455
gdp_cap         9472.38
Name: 1993, dtype: object
country           Mexico
continent       Americas
year                1997
pop          9.58951e+07
life exp           73.67
gdp_cap           9767.3
Name: 1994, dtype: object
country          Mexico
continent      Americas
year               2002
pop          1.0248e+08
life exp         74.902
gdp_cap         10742.4
Name: 1995, dtype: object
country           Mexico
continent       Americas
year                2007
pop          1.08701e+08
life exp          76.195
gdp_cap          11977.6
Name: 1996, dtype: object
country      Mongolia
continent        Asia
year             1952
pop            800663
life exp       42.244
gdp_cap       786.567
Name: 1997, dtype: object
country      Mongolia
continent        Asia
year             1957
pop            882134
life exp       45.248
gdp_cap       912.663
Name: 1998, dtype: object
country         Mongolia
continent           Asia
year                1962
pop          1.01028e+06
life exp          48.251
gdp_cap          1056.35
Name: 1999, dtype: object
country        Mongolia
continent          Asia
year               1967
pop          1.1495e+06
life exp         51.253
gdp_cap         1226.04
Name: 2000, dtype: object
country      Mongolia
continent        Asia
year             1972
pop               NaN
life exp       53.754
gdp_cap       1421.74
Name: 2001, dtype: object
country       Mongolia
continent         Asia
year              1977
pop          1.528e+06
life exp        55.491
gdp_cap        1647.51
Name: 2002, dtype: object
country         Mongolia
continent           Asia
year                1982
pop          1.75603e+06
life exp          57.489
gdp_cap           2000.6
Name: 2003, dtype: object
country         Mongolia
continent           Asia
year                1987
pop          2.01513e+06
life exp          60.222
gdp_cap          2338.01
Name: 2004, dtype: object
country        Mongolia
continent          Asia
year               1992
pop          2.3128e+06
life exp         61.271
gdp_cap          1785.4
Name: 2005, dtype: object
country        Mongolia
continent          Asia
year               1997
pop          2.4948e+06
life exp         63.625
gdp_cap         1902.25
Name: 2006, dtype: object
country         Mongolia
continent           Asia
year                2002
pop          2.67423e+06
life exp          65.033
gdp_cap          2140.74
Name: 2007, dtype: object
country         Mongolia
continent           Asia
year                2007
pop          2.87413e+06
life exp          66.803
gdp_cap          3095.77
Name: 2008, dtype: object
country      Montenegro
continent        Europe
year               1952
pop              413834
life exp         59.164
gdp_cap         2647.59
Name: 2009, dtype: object
country      Montenegro
continent        Europe
year               1957
pop              442829
life exp         61.448
gdp_cap         3682.26
Name: 2010, dtype: object
country      Montenegro
continent        Europe
year               1962
pop              474528
life exp         63.728
gdp_cap         4649.59
Name: 2011, dtype: object
country      Montenegro
continent        Europe
year               1967
pop              501035
life exp         67.178
gdp_cap         5907.85
Name: 2012, dtype: object
country      Montenegro
continent        Europe
year               1972
pop              527678
life exp         70.636
gdp_cap         7778.41
Name: 2013, dtype: object
country      Montenegro
continent        Europe
year               1977
pop              560073
life exp         73.066
gdp_cap         9595.93
Name: 2014, dtype: object
country      Montenegro
continent        Europe
year               1982
pop              562548
life exp         74.101
gdp_cap         11222.6
Name: 2015, dtype: object
country      Montenegro
continent        Europe
year               1987
pop              569473
life exp         74.865
gdp_cap         11732.5
Name: 2016, dtype: object
country      Montenegro
continent        Europe
year               1992
pop              621621
life exp         75.435
gdp_cap         7003.34
Name: 2017, dtype: object
country      Montenegro
continent        Europe
year               1997
pop              692651
life exp         75.445
gdp_cap         6465.61
Name: 2018, dtype: object
country      Montenegro
continent        Europe
year               2002
pop              720230
life exp         73.981
gdp_cap         6557.19
Name: 2019, dtype: object
country      Montenegro
continent        Europe
year               2007
pop              684736
life exp         74.543
gdp_cap          9253.9
Name: 2020, dtype: object
country          Morocco
continent         Africa
year                1952
pop          9.93922e+06
life exp          42.873
gdp_cap           1688.2
Name: 2021, dtype: object
country          Morocco
continent         Africa
year                1957
pop          1.14064e+07
life exp          45.423
gdp_cap             1642
Name: 2022, dtype: object
country          Morocco
continent         Africa
year                1962
pop          1.30566e+07
life exp          47.924
gdp_cap          1566.35
Name: 2023, dtype: object
country          Morocco
continent         Africa
year                1967
pop          1.47703e+07
life exp          50.335
gdp_cap          1711.04
Name: 2024, dtype: object
country          Morocco
continent         Africa
year                1972
pop          1.66607e+07
life exp          52.862
gdp_cap          1930.19
Name: 2025, dtype: object
country          Morocco
continent         Africa
year                1977
pop          1.83969e+07
life exp           55.73
gdp_cap          2370.62
Name: 2026, dtype: object
country          Morocco
continent         Africa
year                1982
pop          2.01987e+07
life exp           59.65
gdp_cap          2702.62
Name: 2027, dtype: object
country          Morocco
continent         Africa
year                1987
pop          2.29874e+07
life exp          62.677
gdp_cap          2755.05
Name: 2028, dtype: object
country          Morocco
continent         Africa
year                1992
pop          2.57982e+07
life exp          65.393
gdp_cap          2948.05
Name: 2029, dtype: object
country          Morocco
continent         Africa
year                1997
pop          2.85295e+07
life exp           67.66
gdp_cap           2982.1
Name: 2030, dtype: object
country          Morocco
continent         Africa
year                2002
pop          3.11678e+07
life exp          69.615
gdp_cap           3258.5
Name: 2031, dtype: object
country          Morocco
continent         Africa
year                2007
pop          3.37572e+07
life exp          71.164
gdp_cap          3820.18
Name: 2032, dtype: object
country       Mozambique
continent         Africa
year                1952
pop          6.44632e+06
life exp          31.286
gdp_cap          468.526
Name: 2033, dtype: object
country       Mozambique
continent         Africa
year                1957
pop          7.03804e+06
life exp          33.779
gdp_cap          495.587
Name: 2034, dtype: object
country       Mozambique
continent         Africa
year                1962
pop          7.78894e+06
life exp          36.161
gdp_cap          556.686
Name: 2035, dtype: object
country       Mozambique
continent         Africa
year                1967
pop          8.68091e+06
life exp          38.113
gdp_cap          566.669
Name: 2036, dtype: object
country      Mozambique
continent        Africa
year               1972
pop          9.8096e+06
life exp         40.328
gdp_cap         724.918
Name: 2037, dtype: object
country       Mozambique
continent         Africa
year                1977
pop          1.11279e+07
life exp          42.495
gdp_cap           502.32
Name: 2038, dtype: object
country       Mozambique
continent         Africa
year                1982
pop          1.25872e+07
life exp          42.795
gdp_cap          462.211
Name: 2039, dtype: object
country      Mozambique
continent        Africa
year               1987
pop          1.2892e+07
life exp         42.861
gdp_cap         389.876
Name: 2040, dtype: object
country       Mozambique
continent         Africa
year                1992
pop          1.31607e+07
life exp          44.284
gdp_cap          410.897
Name: 2041, dtype: object
country       Mozambique
continent         Africa
year                1997
pop          1.66033e+07
life exp          46.344
gdp_cap          472.346
Name: 2042, dtype: object
country       Mozambique
continent         Africa
year                2002
pop          1.84738e+07
life exp          44.026
gdp_cap          633.618
Name: 2043, dtype: object
country       Mozambique
continent         Africa
year                2007
pop          1.99517e+07
life exp          42.082
gdp_cap          823.686
Name: 2044, dtype: object
country         Myanmar
continent          Asia
year               1952
pop          2.0093e+07
life exp         36.319
gdp_cap             331
Name: 2045, dtype: object
country          Myanmar
continent           Asia
year                1957
pop          2.17318e+07
life exp          41.905
gdp_cap              350
Name: 2046, dtype: object
country          Myanmar
continent           Asia
year                1962
pop          2.36344e+07
life exp          45.108
gdp_cap              388
Name: 2047, dtype: object
country          Myanmar
continent           Asia
year                1967
pop          2.58703e+07
life exp          49.379
gdp_cap              349
Name: 2048, dtype: object
country          Myanmar
continent           Asia
year                1972
pop          2.84664e+07
life exp           53.07
gdp_cap              357
Name: 2049, dtype: object
country          Myanmar
continent           Asia
year                1977
pop          3.15281e+07
life exp          56.059
gdp_cap              371
Name: 2050, dtype: object
country          Myanmar
continent           Asia
year                1982
pop          3.46804e+07
life exp          58.056
gdp_cap              424
Name: 2051, dtype: object
country          Myanmar
continent           Asia
year                1987
pop          3.80286e+07
life exp          58.339
gdp_cap              385
Name: 2052, dtype: object
country          Myanmar
continent           Asia
year                1992
pop          4.05465e+07
life exp           59.32
gdp_cap              347
Name: 2053, dtype: object
country          Myanmar
continent           Asia
year                1997
pop          4.32479e+07
life exp          60.328
gdp_cap              415
Name: 2054, dtype: object
country          Myanmar
continent           Asia
year                2002
pop          4.55981e+07
life exp          59.908
gdp_cap              611
Name: 2055, dtype: object
country         Myanmar
continent          Asia
year               2007
pop          4.7762e+07
life exp         62.069
gdp_cap             944
Name: 2056, dtype: object
country      Namibia
continent     Africa
year            1952
pop           485831
life exp      41.725
gdp_cap      2423.78
Name: 2057, dtype: object
country      Namibia
continent     Africa
year            1957
pop           548080
life exp      45.226
gdp_cap      2621.45
Name: 2058, dtype: object
country      Namibia
continent     Africa
year            1962
pop           621392
life exp      48.386
gdp_cap      3173.22
Name: 2059, dtype: object
country      Namibia
continent     Africa
year            1967
pop           706640
life exp      51.159
gdp_cap      3793.69
Name: 2060, dtype: object
country      Namibia
continent     Africa
year            1972
pop           821782
life exp      53.867
gdp_cap      3746.08
Name: 2061, dtype: object
country      Namibia
continent     Africa
year            1977
pop           977026
life exp      56.437
gdp_cap      3876.49
Name: 2062, dtype: object
country          Namibia
continent         Africa
year                1982
pop          1.09901e+06
life exp          58.968
gdp_cap           4191.1
Name: 2063, dtype: object
country          Namibia
continent         Africa
year                1987
pop          1.27818e+06
life exp          60.835
gdp_cap          3693.73
Name: 2064, dtype: object
country          Namibia
continent         Africa
year                1992
pop          1.55425e+06
life exp          61.999
gdp_cap          3804.54
Name: 2065, dtype: object
country          Namibia
continent         Africa
year                1997
pop          1.77477e+06
life exp          58.909
gdp_cap          3899.52
Name: 2066, dtype: object
country          Namibia
continent         Africa
year                2002
pop          1.97215e+06
life exp          51.479
gdp_cap          4072.32
Name: 2067, dtype: object
country          Namibia
continent         Africa
year                2007
pop          2.05508e+06
life exp          52.906
gdp_cap          4811.06
Name: 2068, dtype: object
country            Nepal
continent           Asia
year                1952
pop          9.18254e+06
life exp          36.157
gdp_cap          545.866
Name: 2069, dtype: object
country            Nepal
continent           Asia
year                1957
pop          9.68234e+06
life exp          37.686
gdp_cap          597.936
Name: 2070, dtype: object
country            Nepal
continent           Asia
year                1962
pop          1.03321e+07
life exp          39.393
gdp_cap          652.397
Name: 2071, dtype: object
country            Nepal
continent           Asia
year                1967
pop          1.12617e+07
life exp          41.472
gdp_cap          676.442
Name: 2072, dtype: object
country            Nepal
continent           Asia
year                1972
pop          1.24126e+07
life exp          43.971
gdp_cap          674.788
Name: 2073, dtype: object
country            Nepal
continent           Asia
year                1977
pop          1.39332e+07
life exp          46.748
gdp_cap          694.112
Name: 2074, dtype: object
country            Nepal
continent           Asia
year                1982
pop          1.57963e+07
life exp          49.594
gdp_cap          718.373
Name: 2075, dtype: object
country            Nepal
continent           Asia
year                1987
pop          1.79172e+07
life exp          52.537
gdp_cap          775.632
Name: 2076, dtype: object
country            Nepal
continent           Asia
year                1992
pop          2.03262e+07
life exp          55.727
gdp_cap           897.74
Name: 2077, dtype: object
country            Nepal
continent           Asia
year                1997
pop          2.30011e+07
life exp          59.426
gdp_cap          1010.89
Name: 2078, dtype: object
country            Nepal
continent           Asia
year                2002
pop          2.58739e+07
life exp           61.34
gdp_cap          1057.21
Name: 2079, dtype: object
country            Nepal
continent           Asia
year                2007
pop          2.89018e+07
life exp          63.785
gdp_cap          1091.36
Name: 2080, dtype: object
country      Netherlands
continent         Europe
year                1952
pop           1.0382e+07
life exp           72.13
gdp_cap          8941.57
Name: 2081, dtype: object
country      Netherlands
continent         Europe
year                1957
pop          1.10264e+07
life exp           72.99
gdp_cap          11276.2
Name: 2082, dtype: object
country      Netherlands
continent         Europe
year                1962
pop          1.18057e+07
life exp           73.23
gdp_cap          12790.8
Name: 2083, dtype: object
country      Netherlands
continent         Europe
year                1967
pop          1.25968e+07
life exp           73.82
gdp_cap          15363.3
Name: 2084, dtype: object
country      Netherlands
continent         Europe
year                1972
pop          1.33299e+07
life exp           73.75
gdp_cap          18794.7
Name: 2085, dtype: object
country      Netherlands
continent         Europe
year                1977
pop           1.3853e+07
life exp           75.24
gdp_cap          21209.1
Name: 2086, dtype: object
country      Netherlands
continent         Europe
year                1982
pop          1.43104e+07
life exp           76.05
gdp_cap          21399.5
Name: 2087, dtype: object
country      Netherlands
continent         Europe
year                1987
pop          1.46653e+07
life exp           76.83
gdp_cap          23651.3
Name: 2088, dtype: object
country      Netherlands
continent         Europe
year                1992
pop          1.51742e+07
life exp           77.42
gdp_cap          26790.9
Name: 2089, dtype: object
country      Netherlands
continent         Europe
year                1997
pop          1.56045e+07
life exp           78.03
gdp_cap          30246.1
Name: 2090, dtype: object
country      Netherlands
continent         Europe
year                2002
pop          1.61228e+07
life exp           78.53
gdp_cap          33724.8
Name: 2091, dtype: object
country      Netherlands
continent         Europe
year                2007
pop          1.65706e+07
life exp          79.762
gdp_cap          36797.9
Name: 2092, dtype: object
country      New Zealand
continent        Oceania
year                1952
pop          1.99479e+06
life exp           69.39
gdp_cap          10556.6
Name: 2093, dtype: object
country      New Zealand
continent        Oceania
year                1957
pop          2.22941e+06
life exp           70.26
gdp_cap          12247.4
Name: 2094, dtype: object
country      New Zealand
continent        Oceania
year                1962
pop          2.48855e+06
life exp           71.24
gdp_cap          13175.7
Name: 2095, dtype: object
country      New Zealand
continent        Oceania
year                1967
pop          2.72815e+06
life exp           71.52
gdp_cap          14463.9
Name: 2096, dtype: object
country      New Zealand
continent        Oceania
year                1972
pop           2.9291e+06
life exp           71.89
gdp_cap            16046
Name: 2097, dtype: object
country      New Zealand
continent        Oceania
year                1977
pop           3.1649e+06
life exp           72.22
gdp_cap          16233.7
Name: 2098, dtype: object
country      New Zealand
continent        Oceania
year                1982
pop          3.21065e+06
life exp           73.84
gdp_cap          17632.4
Name: 2099, dtype: object
country      New Zealand
continent        Oceania
year                1987
pop          3.31717e+06
life exp           74.32
gdp_cap          19007.2
Name: 2100, dtype: object
country      New Zealand
continent        Oceania
year                1992
pop          3.43767e+06
life exp           76.33
gdp_cap          18363.3
Name: 2101, dtype: object
country      New Zealand
continent        Oceania
year                1997
pop          3.67619e+06
life exp           77.55
gdp_cap          21050.4
Name: 2102, dtype: object
country      New Zealand
continent        Oceania
year                2002
pop          3.90804e+06
life exp           79.11
gdp_cap          23189.8
Name: 2103, dtype: object
country      New Zealand
continent        Oceania
year                2007
pop          4.11577e+06
life exp          80.204
gdp_cap            25185
Name: 2104, dtype: object
country        Nicaragua
continent       Americas
year                1952
pop          1.16579e+06
life exp          42.314
gdp_cap          3112.36

In [37]:
for index, row in df.iterrows():
    print(row['pop'])

8425333.0
9240934.0
10267083.0
11537966.0
13079460.0
14880372.0
nan
13867957.0
16317921.0
22227415.0
25268405.0
31889923.0
1282697.0
1476505.0
1728137.0
1984060.0
2263554.0
2509048.0
2780097.0
3075321.0
3326498.0
3428038.0
3508512.0
3600523.0
9279525.0
10270856.0
11000948.0
12760499.0
14760787.0
17152804.0
20033753.0
23254956.0
26298373.0
29072015.0
31287142.0
33333216.0
4232095.0
4561361.0
4826015.0
5247469.0
5894858.0
6162675.0
7016384.0
7874230.0
8735988.0
9875024.0
10866106.0
12420476.0
17876956.0
19610538.0
21283783.0
22934225.0
24779799.0
26983828.0
29341374.0
31620918.0
33958947.0
36203463.0
38331121.0
40301927.0
8691212.0
9712569.0
10794968.0
11872264.0
13177000.0
14074100.0
15184200.0
16257249.0
17481977.0
18565243.0
19546792.0
20434176.0
6927772.0
6965860.0
7129864.0
7376998.0
7544201.0
7568430.0
7574613.0
7578903.0
7914969.0
8069876.0
8148312.0
8199783.0
120447.0
138655.0
171863.0
202182.0
230800.0
297410.0
377967.0
454612.0
529491.0
598561.0
656397.0
708573.0
46886859.0
51365468.0
56839289.0
62821884.0
70759295.0
80428306.0
93074406.0
103764241.0
113704579.0
123315288.0
135656790.0
150448339.0
8730405.0
8989111.0
9218400.0
9556500.0
9709100.0
9821800.0
9856303.0
9870200.0
10045622.0
10199787.0
10311970.0
10392226.0
1738315.0
1925173.0
nan
2427334.0
2761407.0
3168267.0
3641603.0
4243788.0
4981671.0
6066080.0
7026113.0
8078314.0
2883315.0
3211738.0
3593918.0
4040665.0
4565872.0
5079716.0
5642224.0
6156369.0
6893451.0
7693188.0
8445134.0
9119152.0
2791000.0
3076000.0
3349000.0
3585000.0
3819000.0
4086000.0
4172693.0
4338977.0
4256013.0
3607000.0
4165416.0
4552198.0
442308.0
474639.0
512764.0
553541.0
619351.0
781472.0
970347.0
1151184.0
1342614.0
1536536.0
1630347.0
1639131.0
56602560.0
65551171.0
76039390.0
88049823.0
100840058.0
114313951.0
128962939.0
142938076.0
155975974.0
168546719.0
179914212.0
190010647.0
7274900.0
7651254.0
8012946.0
8310226.0
8576200.0
8797022.0
8892098.0
8971958.0
8658506.0
8066057.0
7661799.0
7322858.0
4469979.0
4713416.0
4919632.0
5127935.0
5433886.0
5889574.0
6634596.0
7586551.0
8878303.0
10352843.0
12251209.0
14326203.0
2445618.0
2667518.0
2961915.0
3330989.0
3529983.0
nan
4580410.0
5126023.0
5809236.0
6121610.0
7021078.0
8390505.0
4693836.0
5322536.0
6083619.0
6960067.0
7450606.0
6978607.0
7272485.0
8371791.0
10150094.0
11782962.0
12926707.0
14131858.0
5009067.0
5359923.0
5793633.0
6335506.0
7021028.0
7959865.0
9250831.0
10780667.0
12467171.0
14195809.0
nan
17696293.0
14785584.0
17010154.0
18985849.0
20819767.0
22284500.0
23796400.0
25201900.0
26549700.0
28523502.0
30305843.0
31902268.0
33390141.0
1291695.0
1392284.0
1523478.0
1733638.0
1927260.0
2167533.0
2476971.0
2840009.0
3265124.0
3696513.0
4048013.0
4369038.0
2682462.0
2894855.0
3150417.0
nan
3899068.0
4388260.0
4875118.0
5498955.0
6429417.0
7562011.0
8835739.0
10238807.0
6377619.0
7048426.0
7961258.0
8858908.0
9717524.0
10599793.0
11487112.0
12463354.0
13572994.0
14599929.0
15497046.0
16284741.0
556263527.0
637408000.0
665770000.0
754550000.0
862030000.0
943455000.0
1000281000.0
1084035000.0
nan
1230075000.0
1280400000.0
1318683096.0
12350771.0
14485993.0
17009885.0
19764027.0
22542890.0
25094412.0
27764644.0
30964245.0
34202721.0
37657830.0
41008227.0
44227550.0
153936.0
170928.0
191689.0
217378.0
250027.0
304739.0
348643.0
395114.0
454429.0
527982.0
614382.0
710960.0
14100005.0
15577932.0
17486434.0
19941073.0
23007669.0
26480870.0
30646495.0
35481645.0
41672143.0
47798986.0
55379852.0
64606759.0
854885.0
940458.0
1047924.0
1179760.0
1340458.0
1536769.0
1774735.0
2064095.0
2409073.0
2800947.0
3328795.0
3800610.0
926317.0
1112300.0
1345187.0
1588717.0
1834796.0
2108457.0
2424367.0
2799811.0
3173216.0
3518107.0
3834934.0
4133884.0
2977019.0
3300000.0
3832408.0
4744870.0
6071696.0
7459574.0
9025951.0
10761098.0
12772596.0
14625967.0
16252726.0
18013409.0
3882229.0
3991242.0
4076557.0
4174366.0
4225310.0
4318673.0
4413368.0
4484310.0
4494013.0
4444595.0
4481020.0
4493312.0
6007797.0
6640752.0
7254373.0
8139332.0
8831348.0
9537988.0
9789224.0
10239839.0
10723260.0
10983007.0
11226999.0
11416987.0
9125183.0
9513758.0
9620282.0
9835109.0
9862158.0
10161915.0
10303704.0
10311597.0
10315702.0
10300707.0
10256295.0
10228744.0
4334000.0
4487831.0
4646899.0
4838800.0
4991596.0
5088419.0
5117810.0
5127024.0
5171393.0
5283663.0
5374693.0
5468120.0
63149.0
71851.0
89898.0
127617.0
178848.0
228694.0
305991.0
311025.0
384156.0
417908.0
447416.0
496374.0
2491346.0
2923186.0
3453434.0
4049146.0
4671329.0
5302800.0
5968349.0
6655297.0
7351181.0
nan
8650322.0
9319622.0
3548753.0
4058385.0
4681707.0
5432424.0
6298651.0
7278866.0
8365850.0
9545158.0
10748394.0
11911819.0
12921234.0
13755680.0
22223309.0
25009741.0
28173309.0
31681188.0
34807417.0
38783863.0
45681811.0
52799062.0
59402198.0
66134291.0
73312559.0
80264543.0
2042865.0
2355805.0
2747687.0
3232927.0
3790903.0
4282586.0
4474873.0
4842194.0
5274649.0
5783439.0
6353681.0
6939688.0
216964.0
232922.0
249220.0
259864.0
277603.0
192675.0
285483.0
341244.0
387838.0
439971.0
495627.0
551201.0
1438760.0
1542611.0
1666618.0
1820319.0
2260187.0
2512642.0
2637297.0
2915959.0
3668440.0
4058319.0
4414865.0
4906585.0
20860941.0
22815614.0
25145372.0
27860297.0
30770372.0
34617799.0
38111756.0
42999530.0
52088559.0
59861301.0
67946797.0
76511887.0
4090500.0
4324000.0
4491443.0
4605744.0
4639657.0
4738902.0
4826933.0
4931729.0
5041039.0
5134406.0
5193039.0
5238460.0
nan
nan
47124000.0
49569000.0
51732000.0
53165019.0
54433565.0
55630100.0
57374179.0
58623428.0
59925035.0
61083916.0
420702.0
434904.0
455661.0
489004.0
537977.0
706367.0
753874.0
880397.0
985739.0
1126189.0
1299304.0
1454867.0
284320.0
323150.0
374020.0
439593.0
517101.0
608274.0
715523.0
848406.0
1025384.0
1235767.0
1457766.0
nan
69145952.0
71019069.0
73739117.0
76368453.0
78717088.0
78160773.0
78335266.0
77718298.0
80597764.0
nan
82350671.0
82400996.0
5581001.0
6391288.0
7355248.0
8490213.0
9354120.0
10538093.0
11400338.0
14168101.0
16278738.0
18418288.0
20550751.0
22873338.0
7733250.0
8096218.0
8448233.0
8716441.0
8888628.0
nan
9786480.0
9974490.0
10325429.0
10502372.0
10603863.0
10706290.0
3146381.0
3640876.0
4208858.0
4690773.0
5149581.0
5703430.0
6395630.0
7326406.0
8486949.0
nan
11178650.0
12572928.0
2664249.0
2876726.0
3140003.0
3451418.0
3811387.0
4227026.0
4710497.0
5650262.0
6990574.0
8048834.0
8807818.0
9947814.0
580653.0
nan
627820.0
601287.0
625361.0
745228.0
825987.0
927524.0
1050938.0
1193708.0
1332459.0
1472041.0
3201488.0
3507701.0
3880130.0
4318137.0
4698301.0
4908554.0
5198399.0
5756203.0
nan
6913545.0
7607651.0
8502814.0
1517453.0
1770390.0
2090162.0
2500689.0
2965146.0
3055235.0
3669448.0
4372203.0
5077347.0
5867957.0
6677328.0
7483763.0
nan
2736300.0
3305200.0
3722800.0
4115700.0
4583700.0
5264500.0
5584510.0
5829696.0
6495918.0
6762476.0
6980412.0
9504000.0
9839000.0
10063000.0
10223422.0
10394091.0
10637171.0
10705535.0
10612740.0
10348684.0
nan
10083313.0
9956108.0
147962.0
165110.0
182053.0
198676.0
209275.0
221823.0
233997.0
244676.0
259012.0
271192.0
288030.0
301931.0
372000000.0
409000000.0
454000000.0
506000000.0
567000000.0
634000000.0
708000000.0
788000000.0
872000000.0
959000000.0
1034172547.0
1110396331.0
82052000.0
90124000.0
99028000.0
109343000.0
121282000.0
136725000.0
153343000.0
169276000.0
184816000.0
199278000.0
211060000.0
223547000.0
17272000.0
19792000.0
22874000.0
26538000.0
30614000.0
35480679.0
43072751.0
51889696.0
60397973.0
63327987.0
66907826.0
69453570.0
5441766.0
6248643.0
7240260.0
8519282.0
10061506.0
11882916.0
14173318.0
16543189.0
17861905.0
20775703.0
24001816.0
27499638.0
2952156.0
2878220.0
2830000.0
2900100.0
3024400.0
3271900.0
3480000.0
3539900.0
3557761.0
3667233.0
3879155.0
4109086.0
1620914.0
1944401.0
2310904.0
2693585.0
3095893.0
3495918.0
3858421.0
4203148.0
4936550.0
5531387.0
6029529.0
6426679.0
47666000.0
49182000.0
50843200.0
52667100.0
54365564.0
56059245.0
56535636.0
56729703.0
56840847.0
57479469.0
57926999.0
58147733.0
1426095.0
1535090.0
1665128.0
1861096.0
1997616.0
2156814.0
2298309.0
2326606.0
2378618.0
2531311.0
2664659.0
2780132.0
86459025.0
91563009.0
95831757.0
100825279.0
107188273.0
nan
118454974.0
122091325.0
124329269.0
125956499.0
127065841.0
127467972.0
607914.0
746559.0
933559.0
1255058.0
1613551.0
1937652.0
2347031.0
2820042.0
3867409.0
4526235.0
5307470.0
6053193.0
6464046.0
7454779.0
8678557.0
10191512.0
12044785.0
14500404.0
17661452.0
21198082.0
25020539.0
28263827.0
31386842.0
35610177.0
8865488.0
9411381.0
10917494.0
12617009.0
14781241.0
16325320.0
17647518.0
19067554.0
20711375.0
21585105.0
22215365.0
23301725.0
20947571.0
22611552.0
26420307.0
30131000.0
33505000.0
36436000.0
39326000.0
41622000.0
43805450.0
46173816.0
47969150.0
49044790.0
160000.0
212846.0
358266.0
575003.0
841934.0
1140357.0
1497494.0
1891487.0
1418095.0
1765345.0
2111561.0
2505559.0
1439529.0
1647412.0
1886848.0
2186894.0
2680018.0
3115787.0
3086876.0
3089353.0
3219994.0
3430388.0
3677780.0
3921278.0
748747.0
813338.0
893143.0
996380.0
1116779.0
1251524.0
1411807.0
1599200.0
1803195.0
1982823.0
2046772.0
2012649.0
863308.0
975950.0
1112796.0
1279406.0
1482628.0
1703617.0
1956875.0
2269414.0
1912974.0
2200725.0
2814651.0
3193942.0
1019729.0
1201578.0
1441863.0
1759224.0
2183877.0
2721783.0
3344074.0
3799845.0
4364501.0
4759670.0
5368585.0
6036914.0
4762912.0
nan
5703324.0
6334556.0
7082430.0
8007166.0
9171477.0
10568642.0
12210395.0
14165114.0
16473477.0
19167654.0
2917802.0
3221238.0
3628608.0
4147252.0
4730997.0
5637246.0
6502825.0
7824747.0
10014249.0
10419991.0
11824495.0
13327079.0
6748378.0
7739235.0
8906385.0
10154878.0
11441462.0
12845381.0
14441916.0
16331785.0
18319502.0
20476091.0
22662365.0
24821286.0
3838168.0
4241884.0
4690372.0
5212416.0
5828158.0
6491649.0
6998256.0
7634008.0
8416215.0
9384984.0
10580176.0
12031795.0
1022556.0
1076852.0
1146757.0
1230542.0
1332786.0
1456688.0
1622136.0
1841240.0
2119465.0
2444741.0
2828858.0
3270065.0
516556.0
609816.0
701016.0
789309.0
851334.0
913025.0
992040.0
1042663.0
1096202.0
1149818.0
1200206.0
1250882.0
30144317.0
35015548.0
41121485.0
47995559.0
55984294.0
63759976.0
71640904.0
80122492.0
88111030.0
95895146.0
102479927.0
108700891.0
800663.0
882134.0
1010280.0
1149500.0
nan
1528000.0
1756032.0
2015133.0
2312802.0
2494803.0
2674234.0
2874127.0
413834.0
442829.0
474528.0
501035.0
527678.0
560073.0
562548.0
569473.0
621621.0
692651.0
720230.0
684736.0
9939217.0
11406350.0
13056604.0
14770296.0
16660670.0
18396941.0
20198730.0
22987397.0
25798239.0
28529501.0
31167783.0
33757175.0
6446316.0
7038035.0
7788944.0
8680909.0
9809596.0
11127868.0
12587223.0
12891952.0
13160731.0
16603334.0
18473780.0
19951656.0
20092996.0
21731844.0
23634436.0
25870271.0
28466390.0
31528087.0
34680442.0
38028578.0
40546538.0
43247867.0
45598081.0
47761980.0
485831.0
548080.0
621392.0
706640.0
821782.0
977026.0
1099010.0
1278184.0
1554253.0
1774766.0
1972153.0
2055080.0
9182536.0
9682338.0
10332057.0
11261690.0
12412593.0
13933198.0
15796314.0
17917180.0
20326209.0
23001113.0
25873917.0
28901790.0
10381988.0
11026383.0
11805689.0
12596822.0
13329874.0
13852989.0
14310401.0
14665278.0
15174244.0
15604464.0
16122830.0
16570613.0
1994794.0
2229407.0
2488550.0
2728150.0
2929100.0
3164900.0
3210650.0
3317166.0
3437674.0
3676187.0
3908037.0
4115771.0
1165790.0
1358828.0
1590597.0
1865490.0
2182908.0
2554598.0
2979423.0
3344353.0
4017939.0
4609572.0
5146848.0
5675356.0
3379468.0
3692184.0
4076008.0
4534062.0
5060262.0
5682086.0
6437188.0
7332638.0
8392818.0
9666252.0
11140655.0
12894865.0
33119096.0
37173340.0
41871351.0
47287752.0
53740085.0
62209173.0
73039376.0
81551520.0
93364244.0
106207839.0
119901274.0
135031164.0
3327728.0
3491938.0
3638919.0
3786019.0
3933004.0
4043205.0
4114787.0
4186147.0
4286357.0
4405672.0
4535591.0
4627926.0
507833.0
561977.0
628164.0
714775.0
829050.0
1004533.0
1301048.0
1593882.0
1915208.0
2283635.0
2713462.0
3204897.0
41346560.0
46679944.0
53100671.0
60641899.0
69325921.0
78152686.0
91462088.0
105186881.0
120065004.0
135564834.0
153403524.0
169270617.0
940080.0
1063506.0
1215725.0
1405486.0
1616384.0
1839782.0
2036305.0
2253639.0
2484997.0
2734531.0
2990875.0
3242173.0
1555876.0
1770902.0
2009813.0
2287985.0
2614104.0
2984494.0
3366439.0
3886512.0
4483945.0
5154123.0
5884491.0
6667147.0
8025700.0
9146100.0
10516500.0
nan
13954700.0
15990099.0
18125129.0
20195924.0
22430449.0
24748122.0
26769436.0
28674757.0
22438691.0
26072194.0
30325264.0
35356600.0
40850141.0
46850962.0
53456774.0
60017788.0
67185766.0
75012988.0
82995088.0
91077287.0
25730551.0
28235346.0
30329617.0
31785378.0
33039545.0
34621254.0
36227381.0
37740710.0
38370697.0
38654957.0
38625976.0
38518241.0
8526050.0
8817650.0
9019800.0
9103000.0
8970450.0
9662600.0
9859650.0
9915289.0
9927680.0
10156415.0
10433867.0
10642836.0
2227000.0
2260000.0
2448046.0
2648961.0
2847132.0
3080828.0
3279001.0
3444468.0
3585176.0
3759430.0
3859606.0
3942491.0
257700.0
308700.0
358900.0
414024.0
461633.0
492095.0
517810.0
562035.0
622191.0
684810.0
743981.0
798094.0
16630000.0
17829327.0
18680721.0
19284814.0
20662648.0
21658597.0
22356726.0
22686371.0
22797027.0
22562458.0
22404337.0
22276056.0
nan
2822082.0
3051242.0
3451079.0
3992121.0
4657072.0
5507565.0
6349365.0
7290203.0
7212583.0
7852401.0
8860588.0
60011.0
61325.0
65345.0
70787.0
76595.0
86796.0
98593.0
110812.0
125911.0
145608.0
170372.0
199579.0
4005677.0
4419650.0
4943029.0
5618198.0
6472756.0
8128505.0
11254672.0
14619745.0
16945857.0
21229759.0
24501530.0
27601038.0
2755589.0
3054547.0
3430243.0
3965841.0
4588696.0
5260855.0
6147783.0
7171347.0
8307920.0
9535314.0
10870037.0
12267493.0
6860147.0
7271135.0
7616060.0
7971222.0
8313288.0
8686367.0
9032824.0
9230783.0
9826397.0
10336594.0
10111559.0
10150265.0
2143249.0
2295678.0
2467895.0
2662190.0
2879013.0
3140897.0
3464522.0
3868905.0
4260884.0
4578212.0
5359092.0
6144562.0
1127000.0
1445929.0
1750200.0
1977600.0
2152400.0
2325300.0
2651869.0
2794552.0
3235865.0
3802309.0
4197776.0
4553009.0
3558137.0
3844277.0
4237384.0
4442238.0
4593433.0
4827803.0
5048043.0
5199318.0
5302888.0
5383010.0
5410052.0
5447502.0
1489518.0
1533070.0
1582962.0
1646912.0
1694510.0
1746919.0
1861252.0
1945870.0
1999210.0
2011612.0
2011497.0
2009245.0
2526994.0
2780415.0
3080153.0
3428839.0
3840161.0
4353666.0
5828892.0
6921858.0
6099799.0
6633514.0
7753310.0
9118773.0
14264935.0
16151549.0
18356657.0
20997321.0
23935810.0
27129932.0
31140029.0
35933379.0
39964159.0
42835005.0
44433622.0
43997828.0
28549870.0
29841614.0
31158061.0
32850275.0
34513161.0
36439000.0
37983310.0
38880702.0
39549438.0
39855442.0
40152517.0
40448191.0
7982342.0
9128546.0
10421936.0
11737396.0
13016733.0
14116836.0
15410151.0
16495304.0
17587060.0
18698655.0
19576783.0
20378239.0
8504667.0
9753392.0
11183227.0
12716129.0
14597019.0
17104986.0
20367053.0
24725960.0
28227588.0
32160729.0
37090298.0
42292929.0
290243.0
326741.0
370006.0
420690.0
480105.0
551425.0
649901.0
779348.0
962344.0
1054486.0
1130269.0
1133066.0
7124673.0
7363802.0
7561588.0
7867931.0
nan
8251648.0
8325260.0
8421403.0
8718867.0
8897619.0
8954175.0
9031088.0
4815000.0
5126000.0
5666000.0
6063000.0
6401400.0
6316424.0
6468126.0
6649942.0
6995447.0
7193761.0
7361757.0
7554661.0
3661549.0
4149908.0
4834621.0
5680812.0
6701172.0
7932503.0
nan
11242847.0
13219062.0
15081016.0
17155814.0
19314747.0
8550362.0
10164215.0
11918938.0
13648692.0
15226039.0
16785196.0
18501390.0
19757799.0
20686918.0
21628605.0
22454239.0
23174294.0
8322925.0
9452826.0
10863958.0
nan
14706593.0
17129565.0
19844382.0
23040630.0
26605473.0
30686889.0
34593779.0
38139640.0
21289402.0
25041917.0
29263397.0
34024249.0
39276153.0
44148285.0
48827160.0
52910342.0
56667095.0
60216677.0
62806748.0
65068149.0
nan
1357445.0
1528098.0
1735550.0
2056351.0
2308582.0
2644765.0
3154264.0
3747553.0
4320890.0
4977378.0
5701579.0
662850.0
764900.0
887498.0
960155.0
975199.0
1039009.0
1116479.0
1191336.0
1183669.0
1138101.0
nan
1056608.0
3647735.0
3950849.0
4286552.0
4786986.0
5303507.0
6005061.0
6734098.0
7724976.0
8523077.0
9231669.0
9770575.0
10276158.0
22235677.0
25670939.0
29788695.0
33411317.0
37492953.0
42404033.0
nan
52881328.0
58179144.0
63047647.0
67308928.0
71158647.0
5824797.0
6675501.0
7688797.0
8900294.0
10190285.0
11457758.0
12939400.0
15283050.0
18252190.0
21210254.0
24739869.0
29170398.0
nan
51430000.0
53292000.0
54959000.0
56079000.0
56179000.0
56339704.0
56981620.0
57866349.0
58808266.0
59912431.0
60776238.0
157553000.0
171984000.0
186538000.0
198712000.0
nan
220239000.0
232187835.0
242803533.0
256894189.0
272911760.0
287675526.0
301139947.0
2252965.0
2424959.0
2598466.0
2748579.0
2829526.0
2873520.0
2953997.0
3045153.0
3149262.0
nan
3363085.0
3447496.0
5439568.0
6702668.0
8143375.0
9709552.0
11515649.0
13503563.0
15620766.0
17910182.0
20265563.0
22374398.0
24287670.0
26084662.0
26246839.0
28998543.0
33796140.0
39463910.0
nan
50533506.0
56142181.0
62826491.0
69940728.0
76048996.0
80908147.0
85262356.0
1030585.0
1070439.0
1133134.0
1142636.0
1089572.0
1261091.0
1425876.0
1691210.0
2104779.0
nan
3389578.0
4018332.0
4963829.0
5498090.0
6120081.0
6740785.0
7407075.0
8403990.0
9657618.0
11219340.0
13367997.0
15826497.0
18701257.0
22211743.0
2672000.0
nan
3421000.0
3900000.0
4506497.0
5216550.0
6100407.0
7272406.0
8381163.0
9417789.0
10595811.0
11746035.0
3080907.0
3646340.0
4277736.0
4995432.0
5861135.0
6642107.0
7636524.0
9216418.0
10704340.0
11404948.0
11926563.0
nan

In [38]:
# Replacing values by iterrating over rows

for index, row in df.iterrows():
    if df.loc[index,'year']>=2000:
        df.loc[index, 'Century'] ="20th Century"
    else:
        df.loc[index, 'Century'] ="19th Century"
        
df.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

           country continent  year  ...  life exp     gdp_cap       Century
index                               ...
1000   Afghanistan      Asia  1952  ...    28.801  779.445314  19th Century
1002   Afghanistan      Asia  1957  ...       NaN  820.853030  19th Century
1003   Afghanistan      Asia  1962  ...    31.997  853.100710  19th Century
1004   Afghanistan      Asia  1967  ...    34.020  836.197138  19th Century
1005   Afghanistan      Asia  1972  ...    36.088  739.981106  19th Century

[5 rows x 7 columns]

In [39]:
for index,(country,continent, year, pop, life, gdp_cap, Century) in df.iterrows():
    print(country, year, life)

Afghanistan 1952 28.801
Afghanistan 1957 nan
Afghanistan 1962 31.997
Afghanistan 1967 34.02
Afghanistan 1972 36.088
Afghanistan 1977 38.438
Afghanistan 1982 39.854
Afghanistan 1987 40.822
Afghanistan 1992 41.674
Afghanistan 1997 41.763
Afghanistan 2002 42.129
Afghanistan 2007 43.828
Albania 1952 55.23
Albania 1957 59.28
Albania 1962 64.82
Albania 1967 66.22
Albania 1972 67.69
Albania 1977 68.93
Albania 1982 70.42
Albania 1987 72.0
Albania 1992 71.581
Albania 1997 72.95
Albania 2002 75.651
Albania 2007 76.423
Algeria 1952 43.077
Algeria 1957 45.685
Algeria 1962 48.303
Algeria 1967 51.407
Algeria 1972 54.518
Algeria 1977 58.014
Algeria 1982 61.368
Algeria 1987 65.799
Algeria 1992 67.744
Algeria 1997 69.152
Algeria 2002 70.994
Algeria 2007 72.301
Angola 1952 30.015
Angola 1957 31.999
Angola 1962 34.0
Angola 1967 35.985
Angola 1972 37.928
Angola 1977 39.483
Angola 1982 39.942
Angola 1987 39.906
Angola 1992 40.647
Angola 1997 40.963
Angola 2002 41.003
Angola 2007 42.731
Argentina 1952 62.485
Argentina 1957 64.399
Argentina 1962 65.142
Argentina 1967 65.634
Argentina 1972 67.065
Argentina 1977 68.481
Argentina 1982 69.942
Argentina 1987 70.774
Argentina 1992 71.868
Argentina 1997 73.275
Argentina 2002 74.34
Argentina 2007 75.32
Australia 1952 69.12
Australia 1957 70.33
Australia 1962 70.93
Australia 1967 71.1
Australia 1972 71.93
Australia 1977 73.49
Australia 1982 74.74
Australia 1987 76.32
Australia 1992 77.56
Australia 1997 78.83
Australia 2002 80.37
Australia 2007 81.235
Austria 1952 66.8
Austria 1957 67.48
Austria 1962 69.54
Austria 1967 70.14
Austria 1972 70.63
Austria 1977 72.17
Austria 1982 73.18
Austria 1987 74.94
Austria 1992 76.04
Austria 1997 77.51
Austria 2002 78.98
Austria 2007 79.829
Bahrain 1952 50.939
Bahrain 1957 53.832
Bahrain 1962 56.923
Bahrain 1967 59.923
Bahrain 1972 63.3
Bahrain 1977 65.593
Bahrain 1982 69.052
Bahrain 1987 70.75
Bahrain 1992 72.601
Bahrain 1997 73.925
Bahrain 2002 74.795
Bahrain 2007 75.635
Bangladesh 1952 37.484
Bangladesh 1957 39.348
Bangladesh 1962 41.216
Bangladesh 1967 43.453
Bangladesh 1972 45.252
Bangladesh 1977 46.923
Bangladesh 1982 50.009
Bangladesh 1987 52.819
Bangladesh 1992 56.018
Bangladesh 1997 59.412
Bangladesh 2002 62.013
Bangladesh 2007 64.062
Belgium 1952 68.0
Belgium 1957 69.24
Belgium 1962 70.25
Belgium 1967 70.94
Belgium 1972 71.44
Belgium 1977 72.8
Belgium 1982 73.93
Belgium 1987 75.35
Belgium 1992 76.46
Belgium 1997 77.53
Belgium 2002 78.32
Belgium 2007 79.441
Benin 1952 38.223
Benin 1957 40.358
Benin 1962 42.618
Benin 1967 44.885
Benin 1972 47.014
Benin 1977 49.19
Benin 1982 50.904
Benin 1987 52.337
Benin 1992 53.919
Benin 1997 54.777
Benin 2002 54.406
Benin 2007 56.728
Bolivia 1952 40.414
Bolivia 1957 41.89
Bolivia 1962 43.428
Bolivia 1967 45.032
Bolivia 1972 46.714
Bolivia 1977 50.023
Bolivia 1982 53.859
Bolivia 1987 57.251
Bolivia 1992 59.957
Bolivia 1997 62.05
Bolivia 2002 63.883
Bolivia 2007 65.554
Bosnia and Herzegovina 1952 53.82
Bosnia and Herzegovina 1957 58.45
Bosnia and Herzegovina 1962 61.93
Bosnia and Herzegovina 1967 64.79
Bosnia and Herzegovina 1972 67.45
Bosnia and Herzegovina 1977 69.86
Bosnia and Herzegovina 1982 70.69
Bosnia and Herzegovina 1987 71.14
Bosnia and Herzegovina 1992 72.178
Bosnia and Herzegovina 1997 73.244
Bosnia and Herzegovina 2002 74.09
Bosnia and Herzegovina 2007 74.852
Botswana 1952 47.622
Botswana 1957 49.618
Botswana 1962 51.52
Botswana 1967 53.298
Botswana 1972 56.024
Botswana 1977 59.319
Botswana 1982 61.484
Botswana 1987 63.622
Botswana 1992 62.745
Botswana 1997 52.556
Botswana 2002 46.634
Botswana 2007 50.728
Brazil 1952 50.917
Brazil 1957 53.285
Brazil 1962 55.665
Brazil 1967 57.632
Brazil 1972 59.504
Brazil 1977 61.489
Brazil 1982 63.336
Brazil 1987 65.205
Brazil 1992 67.057
Brazil 1997 69.388
Brazil 2002 71.006
Brazil 2007 72.39
Bulgaria 1952 59.6
Bulgaria 1957 66.61
Bulgaria 1962 69.51
Bulgaria 1967 70.42
Bulgaria 1972 nan
Bulgaria 1977 70.81
Bulgaria 1982 71.08
Bulgaria 1987 71.34
Bulgaria 1992 71.19
Bulgaria 1997 70.32
Bulgaria 2002 72.14
Bulgaria 2007 73.005
Burkina Faso 1952 31.975
Burkina Faso 1957 34.906
Burkina Faso 1962 37.814
Burkina Faso 1967 40.697
Burkina Faso 1972 43.591
Burkina Faso 1977 46.137
Burkina Faso 1982 48.122
Burkina Faso 1987 49.557
Burkina Faso 1992 50.26
Burkina Faso 1997 50.324
Burkina Faso 2002 50.65
Burkina Faso 2007 52.295
Burundi 1952 39.031
Burundi 1957 40.533
Burundi 1962 42.045
Burundi 1967 43.548
Burundi 1972 44.057
Burundi 1977 45.91
Burundi 1982 47.471
Burundi 1987 48.211
Burundi 1992 44.736
Burundi 1997 45.326
Burundi 2002 47.36
Burundi 2007 49.58
Cambodia 1952 39.417
Cambodia 1957 41.366
Cambodia 1962 43.415
Cambodia 1967 45.415
Cambodia 1972 40.317
Cambodia 1977 31.22
Cambodia 1982 50.957
Cambodia 1987 53.914
Cambodia 1992 55.803
Cambodia 1997 56.534
Cambodia 2002 56.752
Cambodia 2007 59.723
Cameroon 1952 38.523
Cameroon 1957 40.428
Cameroon 1962 42.643
Cameroon 1967 44.799
Cameroon 1972 47.049
Cameroon 1977 49.355
Cameroon 1982 52.961
Cameroon 1987 54.985
Cameroon 1992 54.314
Cameroon 1997 52.199
Cameroon 2002 49.856
Cameroon 2007 50.43
Canada 1952 68.75
Canada 1957 69.96
Canada 1962 71.3
Canada 1967 72.13
Canada 1972 72.88
Canada 1977 74.21
Canada 1982 75.76
Canada 1987 76.86
Canada 1992 77.95
Canada 1997 78.61
Canada 2002 79.77
Canada 2007 80.653
Central African Republic 1952 35.463
Central African Republic 1957 37.464
Central African Republic 1962 39.475
Central African Republic 1967 41.478
Central African Republic 1972 43.457
Central African Republic 1977 46.775
Central African Republic 1982 48.295
Central African Republic 1987 50.485
Central African Republic 1992 49.396
Central African Republic 1997 46.066
Central African Republic 2002 43.308
Central African Republic 2007 44.741
Chad 1952 38.092
Chad 1957 39.881
Chad 1962 41.716
Chad 1967 43.601
Chad 1972 45.569
Chad 1977 47.383
Chad 1982 49.517
Chad 1987 51.051
Chad 1992 51.724
Chad 1997 51.573
Chad 2002 50.525
Chad 2007 nan
Chile 1952 54.745
Chile 1957 56.074
Chile 1962 57.924
Chile 1967 60.523
Chile 1972 63.441
Chile 1977 67.052
Chile 1982 70.565
Chile 1987 72.492
Chile 1992 74.126
Chile 1997 75.816
Chile 2002 77.86
Chile 2007 78.553
China 1952 44.0
China 1957 50.54896
China 1962 44.50136
China 1967 58.38112
China 1972 63.11888
China 1977 63.96736
China 1982 65.525
China 1987 67.274
China 1992 68.69
China 1997 70.426
China 2002 72.028
China 2007 72.961
Colombia 1952 50.643
Colombia 1957 55.118
Colombia 1962 57.863
Colombia 1967 59.963
Colombia 1972 61.623
Colombia 1977 63.837
Colombia 1982 66.653
Colombia 1987 67.768
Colombia 1992 68.421
Colombia 1997 70.313
Colombia 2002 71.682
Colombia 2007 72.889
Comoros 1952 40.715
Comoros 1957 42.46
Comoros 1962 44.467
Comoros 1967 46.472
Comoros 1972 48.944
Comoros 1977 50.939
Comoros 1982 52.933
Comoros 1987 54.926
Comoros 1992 57.939
Comoros 1997 60.66
Comoros 2002 62.974
Comoros 2007 65.152
Congo, Dem. Rep. 1952 39.143
Congo, Dem. Rep. 1957 40.652
Congo, Dem. Rep. 1962 42.122
Congo, Dem. Rep. 1967 44.056
Congo, Dem. Rep. 1972 45.989
Congo, Dem. Rep. 1977 47.804
Congo, Dem. Rep. 1982 47.784
Congo, Dem. Rep. 1987 47.412
Congo, Dem. Rep. 1992 45.548
Congo, Dem. Rep. 1997 42.587
Congo, Dem. Rep. 2002 44.966
Congo, Dem. Rep. 2007 46.462
Congo, Rep. 1952 42.111
Congo, Rep. 1957 45.053
Congo, Rep. 1962 48.435
Congo, Rep. 1967 52.04
Congo, Rep. 1972 54.907
Congo, Rep. 1977 55.625
Congo, Rep. 1982 56.695
Congo, Rep. 1987 57.47
Congo, Rep. 1992 56.433
Congo, Rep. 1997 52.962
Congo, Rep. 2002 52.97
Congo, Rep. 2007 55.322
Costa Rica 1952 57.206
Costa Rica 1957 60.026
Costa Rica 1962 62.842
Costa Rica 1967 65.424
Costa Rica 1972 67.849
Costa Rica 1977 70.75
Costa Rica 1982 73.45
Costa Rica 1987 74.752
Costa Rica 1992 75.713
Costa Rica 1997 77.26
Costa Rica 2002 78.123
Costa Rica 2007 78.782
Cote d'Ivoire 1952 40.477
Cote d'Ivoire 1957 42.469
Cote d'Ivoire 1962 44.93
Cote d'Ivoire 1967 47.35
Cote d'Ivoire 1972 49.801
Cote d'Ivoire 1977 52.374
Cote d'Ivoire 1982 53.983
Cote d'Ivoire 1987 54.655
Cote d'Ivoire 1992 52.044
Cote d'Ivoire 1997 47.991
Cote d'Ivoire 2002 46.832
Cote d'Ivoire 2007 48.328
Croatia 1952 61.21
Croatia 1957 64.77
Croatia 1962 67.13
Croatia 1967 68.5
Croatia 1972 69.61
Croatia 1977 70.64
Croatia 1982 70.46
Croatia 1987 71.52
Croatia 1992 72.527
Croatia 1997 73.68
Croatia 2002 74.876
Croatia 2007 75.748
Cuba 1952 59.421
Cuba 1957 62.325
Cuba 1962 65.246
Cuba 1967 68.29
Cuba 1972 70.723
Cuba 1977 72.649
Cuba 1982 73.717
Cuba 1987 74.174
Cuba 1992 74.414
Cuba 1997 76.151
Cuba 2002 77.158
Cuba 2007 78.273
Czech Republic 1952 66.87
Czech Republic 1957 69.03
Czech Republic 1962 69.9
Czech Republic 1967 70.38
Czech Republic 1972 70.29
Czech Republic 1977 70.71
Czech Republic 1982 70.96
Czech Republic 1987 71.58
Czech Republic 1992 72.4
Czech Republic 1997 74.01
Czech Republic 2002 75.51
Czech Republic 2007 76.486
Denmark 1952 70.78
Denmark 1957 71.81
Denmark 1962 72.35
Denmark 1967 72.96
Denmark 1972 73.47
Denmark 1977 74.69
Denmark 1982 74.63
Denmark 1987 74.8
Denmark 1992 75.33
Denmark 1997 76.11
Denmark 2002 77.18
Denmark 2007 78.332
Djibouti 1952 34.812
Djibouti 1957 37.328
Djibouti 1962 39.693
Djibouti 1967 42.074
Djibouti 1972 44.366
Djibouti 1977 46.519
Djibouti 1982 48.812
Djibouti 1987 50.04
Djibouti 1992 51.604
Djibouti 1997 53.157
Djibouti 2002 53.373
Djibouti 2007 54.791
Dominican Republic 1952 45.928
Dominican Republic 1957 49.828
Dominican Republic 1962 53.459
Dominican Republic 1967 56.751
Dominican Republic 1972 59.631
Dominican Republic 1977 61.788
Dominican Republic 1982 63.727
Dominican Republic 1987 66.046
Dominican Republic 1992 68.457
Dominican Republic 1997 69.957
Dominican Republic 2002 70.847
Dominican Republic 2007 72.235
Ecuador 1952 48.357
Ecuador 1957 51.356
Ecuador 1962 54.64
Ecuador 1967 56.678
Ecuador 1972 58.796
Ecuador 1977 61.31
Ecuador 1982 64.342
Ecuador 1987 67.231
Ecuador 1992 69.613
Ecuador 1997 72.312
Ecuador 2002 74.173
Ecuador 2007 74.994
Egypt 1952 41.893
Egypt 1957 44.444
Egypt 1962 46.992
Egypt 1967 49.293
Egypt 1972 51.137
Egypt 1977 53.319
Egypt 1982 56.006
Egypt 1987 59.797
Egypt 1992 63.674
Egypt 1997 67.217
Egypt 2002 69.806
Egypt 2007 71.338
El Salvador 1952 45.262
El Salvador 1957 48.57
El Salvador 1962 52.307
El Salvador 1967 55.855
El Salvador 1972 58.207
El Salvador 1977 56.696
El Salvador 1982 56.604
El Salvador 1987 63.154
El Salvador 1992 66.798
El Salvador 1997 69.535
El Salvador 2002 70.734
El Salvador 2007 71.878
Equatorial Guinea 1952 34.482
Equatorial Guinea 1957 35.983
Equatorial Guinea 1962 37.485
Equatorial Guinea 1967 38.987
Equatorial Guinea 1972 40.516
Equatorial Guinea 1977 42.024
Equatorial Guinea 1982 43.662
Equatorial Guinea 1987 45.664
Equatorial Guinea 1992 47.545
Equatorial Guinea 1997 48.245
Equatorial Guinea 2002 49.348
Equatorial Guinea 2007 51.579
Eritrea 1952 35.928
Eritrea 1957 38.047
Eritrea 1962 40.158
Eritrea 1967 42.189
Eritrea 1972 44.142
Eritrea 1977 44.535
Eritrea 1982 43.89
Eritrea 1987 46.453
Eritrea 1992 49.991
Eritrea 1997 53.378
Eritrea 2002 55.24
Eritrea 2007 58.04
Ethiopia 1952 34.078
Ethiopia 1957 36.667
Ethiopia 1962 40.059
Ethiopia 1967 42.115
Ethiopia 1972 43.515
Ethiopia 1977 44.51
Ethiopia 1982 44.916
Ethiopia 1987 46.684
Ethiopia 1992 48.091
Ethiopia 1997 49.402
Ethiopia 2002 50.725
Ethiopia 2007 52.947
Finland 1952 66.55
Finland 1957 67.49
Finland 1962 68.75
Finland 1967 69.83
Finland 1972 70.87
Finland 1977 72.52
Finland 1982 74.55
Finland 1987 74.83
Finland 1992 75.7
Finland 1997 77.13
Finland 2002 78.37
Finland 2007 79.313
France 1952 67.41
France 1957 68.93
France 1962 70.51
France 1967 71.55
France 1972 72.38
France 1977 73.83
France 1982 74.89
France 1987 76.34
France 1992 77.46
France 1997 78.64
France 2002 79.59
France 2007 80.657
Gabon 1952 37.003
Gabon 1957 38.999
Gabon 1962 40.489
Gabon 1967 44.598
Gabon 1972 48.69
Gabon 1977 52.79
Gabon 1982 56.564
Gabon 1987 60.19
Gabon 1992 61.366
Gabon 1997 60.461
Gabon 2002 56.761
Gabon 2007 56.735
Gambia 1952 30.0
Gambia 1957 32.065
Gambia 1962 33.896
Gambia 1967 35.857
Gambia 1972 38.308
Gambia 1977 41.842
Gambia 1982 45.58
Gambia 1987 49.265
Gambia 1992 52.644
Gambia 1997 55.861
Gambia 2002 58.041
Gambia 2007 nan
Germany 1952 67.5
Germany 1957 69.1
Germany 1962 70.3
Germany 1967 70.8
Germany 1972 71.0
Germany 1977 72.5
Germany 1982 73.8
Germany 1987 74.847
Germany 1992 76.07
Germany 1997 77.34
Germany 2002 78.67
Germany 2007 79.406
Ghana 1952 43.149
Ghana 1957 44.779
Ghana 1962 46.452
Ghana 1967 48.072
Ghana 1972 49.875
Ghana 1977 51.756
Ghana 1982 53.744
Ghana 1987 55.729
Ghana 1992 57.501
Ghana 1997 58.556
Ghana 2002 58.453
Ghana 2007 60.022
Greece 1952 65.86
Greece 1957 67.86
Greece 1962 69.51
Greece 1967 71.0
Greece 1972 72.34
Greece 1977 73.68
Greece 1982 nan
Greece 1987 76.67
Greece 1992 77.03
Greece 1997 77.869
Greece 2002 78.256
Greece 2007 79.483
Guatemala 1952 42.023
Guatemala 1957 44.142
Guatemala 1962 46.954
Guatemala 1967 50.016
Guatemala 1972 53.738
Guatemala 1977 56.029
Guatemala 1982 58.137
Guatemala 1987 60.782
Guatemala 1992 63.373
Guatemala 1997 66.322
Guatemala 2002 68.978
Guatemala 2007 70.259
Guinea 1952 33.609
Guinea 1957 34.558
Guinea 1962 35.753
Guinea 1967 37.197
Guinea 1972 38.842
Guinea 1977 40.762
Guinea 1982 42.891
Guinea 1987 45.552
Guinea 1992 48.576
Guinea 1997 51.455
Guinea 2002 53.676
Guinea 2007 56.007
Guinea-Bissau 1952 32.5
Guinea-Bissau 1957 33.489
Guinea-Bissau 1962 34.488
Guinea-Bissau 1967 35.492
Guinea-Bissau 1972 36.486
Guinea-Bissau 1977 37.465
Guinea-Bissau 1982 39.327
Guinea-Bissau 1987 41.245
Guinea-Bissau 1992 43.266
Guinea-Bissau 1997 44.873
Guinea-Bissau 2002 45.504
Guinea-Bissau 2007 46.388
Haiti 1952 37.579
Haiti 1957 40.696
Haiti 1962 43.59
Haiti 1967 46.243
Haiti 1972 48.042
Haiti 1977 49.923
Haiti 1982 51.461
Haiti 1987 53.636
Haiti 1992 55.089
Haiti 1997 56.671
Haiti 2002 58.137
Haiti 2007 60.916
Honduras 1952 41.912
Honduras 1957 44.665
Honduras 1962 48.041
Honduras 1967 50.924
Honduras 1972 53.884
Honduras 1977 57.402
Honduras 1982 60.909
Honduras 1987 64.492
Honduras 1992 66.399
Honduras 1997 67.659
Honduras 2002 68.565
Honduras 2007 70.198
Hong Kong, China 1952 60.96
Hong Kong, China 1957 64.75
Hong Kong, China 1962 67.65
Hong Kong, China 1967 70.0
Hong Kong, China 1972 72.0
Hong Kong, China 1977 73.6
Hong Kong, China 1982 75.45
Hong Kong, China 1987 76.2
Hong Kong, China 1992 77.601
Hong Kong, China 1997 80.0
Hong Kong, China 2002 81.495
Hong Kong, China 2007 82.208
Hungary 1952 64.03
Hungary 1957 66.41
Hungary 1962 67.96
Hungary 1967 69.5
Hungary 1972 69.76
Hungary 1977 69.95
Hungary 1982 69.39
Hungary 1987 69.58
Hungary 1992 69.17
Hungary 1997 71.04
Hungary 2002 72.59
Hungary 2007 73.338
Iceland 1952 72.49
Iceland 1957 73.47
Iceland 1962 73.68
Iceland 1967 73.73
Iceland 1972 74.46
Iceland 1977 76.11
Iceland 1982 76.99
Iceland 1987 77.23
Iceland 1992 78.77
Iceland 1997 78.95
Iceland 2002 80.5
Iceland 2007 81.757
India 1952 37.373
India 1957 40.249
India 1962 43.605
India 1967 47.193
India 1972 50.651
India 1977 54.208
India 1982 56.596
India 1987 58.553
India 1992 60.223
India 1997 61.765
India 2002 62.879
India 2007 64.698
Indonesia 1952 37.468
Indonesia 1957 39.918
Indonesia 1962 42.518
Indonesia 1967 45.964
Indonesia 1972 49.203
Indonesia 1977 52.702
Indonesia 1982 56.159
Indonesia 1987 60.137
Indonesia 1992 62.681
Indonesia 1997 66.041
Indonesia 2002 68.588
Indonesia 2007 70.65
Iran 1952 44.869
Iran 1957 47.181
Iran 1962 49.325
Iran 1967 52.469
Iran 1972 55.234
Iran 1977 57.702
Iran 1982 59.62
Iran 1987 63.04
Iran 1992 65.742
Iran 1997 68.042
Iran 2002 69.451
Iran 2007 70.964
Iraq 1952 45.32
Iraq 1957 48.437
Iraq 1962 51.457
Iraq 1967 54.459
Iraq 1972 56.95
Iraq 1977 60.413
Iraq 1982 62.038
Iraq 1987 65.044
Iraq 1992 59.461
Iraq 1997 58.811
Iraq 2002 57.046
Iraq 2007 59.545
Ireland 1952 66.91
Ireland 1957 68.9
Ireland 1962 70.29
Ireland 1967 71.08
Ireland 1972 71.28
Ireland 1977 72.03
Ireland 1982 73.1
Ireland 1987 74.36
Ireland 1992 75.467
Ireland 1997 76.122
Ireland 2002 77.783
Ireland 2007 78.885
Israel 1952 65.39
Israel 1957 67.84
Israel 1962 69.39
Israel 1967 70.75
Israel 1972 71.63
Israel 1977 73.06
Israel 1982 74.45
Israel 1987 75.6
Israel 1992 76.93
Israel 1997 78.269
Israel 2002 79.696
Israel 2007 80.745
Italy 1952 65.94
Italy 1957 67.81
Italy 1962 69.24
Italy 1967 71.06
Italy 1972 72.19
Italy 1977 73.48
Italy 1982 74.98
Italy 1987 76.42
Italy 1992 77.44
Italy 1997 78.82
Italy 2002 80.24
Italy 2007 80.546
Jamaica 1952 58.53
Jamaica 1957 62.61
Jamaica 1962 65.61
Jamaica 1967 67.51
Jamaica 1972 69.0
Jamaica 1977 70.11
Jamaica 1982 71.21
Jamaica 1987 71.77
Jamaica 1992 71.766
Jamaica 1997 72.262
Jamaica 2002 72.047
Jamaica 2007 72.567
Japan 1952 63.03
Japan 1957 65.5
Japan 1962 68.73
Japan 1967 71.43
Japan 1972 73.42
Japan 1977 75.38
Japan 1982 77.11
Japan 1987 78.67
Japan 1992 79.36
Japan 1997 80.69
Japan 2002 82.0
Japan 2007 82.603
Jordan 1952 43.158
Jordan 1957 45.669
Jordan 1962 48.126
Jordan 1967 51.629
Jordan 1972 56.528
Jordan 1977 61.134
Jordan 1982 63.739
Jordan 1987 65.869
Jordan 1992 68.015
Jordan 1997 69.772
Jordan 2002 71.263
Jordan 2007 72.535
Kenya 1952 42.27
Kenya 1957 44.686
Kenya 1962 47.949
Kenya 1967 50.654
Kenya 1972 53.559
Kenya 1977 56.155
Kenya 1982 58.766
Kenya 1987 59.339
Kenya 1992 59.285
Kenya 1997 54.407
Kenya 2002 50.992
Kenya 2007 54.11
Korea, Dem. Rep. 1952 50.056
Korea, Dem. Rep. 1957 54.081
Korea, Dem. Rep. 1962 56.656
Korea, Dem. Rep. 1967 59.942
Korea, Dem. Rep. 1972 63.983
Korea, Dem. Rep. 1977 67.159
Korea, Dem. Rep. 1982 69.1
Korea, Dem. Rep. 1987 70.647
Korea, Dem. Rep. 1992 69.978
Korea, Dem. Rep. 1997 67.727
Korea, Dem. Rep. 2002 66.662
Korea, Dem. Rep. 2007 67.297
Korea, Rep. 1952 47.453
Korea, Rep. 1957 52.681
Korea, Rep. 1962 55.292
Korea, Rep. 1967 57.716
Korea, Rep. 1972 62.612
Korea, Rep. 1977 64.766
Korea, Rep. 1982 67.123
Korea, Rep. 1987 69.81
Korea, Rep. 1992 72.244
Korea, Rep. 1997 74.647
Korea, Rep. 2002 77.045
Korea, Rep. 2007 78.623
Kuwait 1952 55.565
Kuwait 1957 58.033
Kuwait 1962 60.47
Kuwait 1967 64.624
Kuwait 1972 67.712
Kuwait 1977 69.343
Kuwait 1982 71.309
Kuwait 1987 74.174
Kuwait 1992 75.19
Kuwait 1997 76.156
Kuwait 2002 76.904
Kuwait 2007 77.588
Lebanon 1952 55.928
Lebanon 1957 59.489
Lebanon 1962 62.094
Lebanon 1967 63.87
Lebanon 1972 65.421
Lebanon 1977 66.099
Lebanon 1982 66.983
Lebanon 1987 67.926
Lebanon 1992 69.292
Lebanon 1997 70.265
Lebanon 2002 71.028
Lebanon 2007 71.993
Lesotho 1952 42.138
Lesotho 1957 45.047
Lesotho 1962 47.747
Lesotho 1967 48.492
Lesotho 1972 49.767
Lesotho 1977 52.208
Lesotho 1982 55.078
Lesotho 1987 57.18
Lesotho 1992 59.685
Lesotho 1997 55.558
Lesotho 2002 44.593
Lesotho 2007 42.592
Liberia 1952 38.48
Liberia 1957 39.486
Liberia 1962 40.502
Liberia 1967 41.536
Liberia 1972 42.614
Liberia 1977 43.764
Liberia 1982 44.852
Liberia 1987 46.027
Liberia 1992 40.802
Liberia 1997 42.221
Liberia 2002 43.753
Liberia 2007 45.678
Libya 1952 42.723
Libya 1957 45.289
Libya 1962 47.808
Libya 1967 50.227
Libya 1972 52.773
Libya 1977 57.442
Libya 1982 62.155
Libya 1987 66.234
Libya 1992 68.755
Libya 1997 71.555
Libya 2002 72.737
Libya 2007 73.952
Madagascar 1952 36.681
Madagascar 1957 38.865
Madagascar 1962 40.848
Madagascar 1967 42.881
Madagascar 1972 44.851
Madagascar 1977 46.881
Madagascar 1982 48.969
Madagascar 1987 49.35
Madagascar 1992 52.214
Madagascar 1997 54.978
Madagascar 2002 57.286
Madagascar 2007 59.443
Malawi 1952 36.256
Malawi 1957 37.207
Malawi 1962 38.41
Malawi 1967 39.487
Malawi 1972 41.766
Malawi 1977 43.767
Malawi 1982 45.642
Malawi 1987 47.457
Malawi 1992 49.42
Malawi 1997 47.495
Malawi 2002 45.009
Malawi 2007 48.303
Malaysia 1952 48.463
Malaysia 1957 52.102
Malaysia 1962 55.737
Malaysia 1967 59.371
Malaysia 1972 63.01
Malaysia 1977 65.256
Malaysia 1982 68.0
Malaysia 1987 69.5
Malaysia 1992 70.693
Malaysia 1997 71.938
Malaysia 2002 73.044
Malaysia 2007 74.241
Mali 1952 33.685
Mali 1957 35.307
Mali 1962 36.936
Mali 1967 38.487
Mali 1972 39.977
Mali 1977 41.714
Mali 1982 43.916
Mali 1987 46.364
Mali 1992 48.388
Mali 1997 49.903

In [40]:
for rows in df.itertuples():
    print(rows)

Pandas(Index=1000, country='Afghanistan', continent='Asia', year=1952, pop=8425333.0, _5=28.801, gdp_cap=779.4453145, Century='19th Century')
Pandas(Index=1002, country='Afghanistan', continent='Asia', year=1957, pop=9240934.0, _5=nan, gdp_cap=820.8530296, Century='19th Century')
Pandas(Index=1003, country='Afghanistan', continent='Asia', year=1962, pop=10267083.0, _5=31.997, gdp_cap=853.10071, Century='19th Century')
Pandas(Index=1004, country='Afghanistan', continent='Asia', year=1967, pop=11537966.0, _5=34.02, gdp_cap=836.1971382, Century='19th Century')
Pandas(Index=1005, country='Afghanistan', continent='Asia', year=1972, pop=13079460.0, _5=36.088, gdp_cap=739.9811058, Century='19th Century')
Pandas(Index=1006, country='Afghanistan', continent='Asia', year=1977, pop=14880372.0, _5=38.438, gdp_cap=786.11336, Century='19th Century')
Pandas(Index=1007, country='Afghanistan', continent='Asia', year=1982, pop=nan, _5=39.854, gdp_cap=978.0114388, Century='19th Century')
Pandas(Index=1008, country='Afghanistan', continent='Asia', year=1987, pop=13867957.0, _5=40.822, gdp_cap=852.3959448, Century='19th Century')
Pandas(Index=1009, country='Afghanistan', continent='Asia', year=1992, pop=16317921.0, _5=41.674, gdp_cap=649.3413952, Century='19th Century')
Pandas(Index=1010, country='Afghanistan', continent='Asia', year=1997, pop=22227415.0, _5=41.763, gdp_cap=635.341351, Century='19th Century')
Pandas(Index=1011, country='Afghanistan', continent='Asia', year=2002, pop=25268405.0, _5=42.129, gdp_cap=726.7340548, Century='20th Century')
Pandas(Index=1012, country='Afghanistan', continent='Asia', year=2007, pop=31889923.0, _5=43.828, gdp_cap=974.5803384, Century='20th Century')
Pandas(Index=1013, country='Albania', continent='Europe', year=1952, pop=1282697.0, _5=55.23, gdp_cap=1601.056136, Century='19th Century')
Pandas(Index=1014, country='Albania', continent='Europe', year=1957, pop=1476505.0, _5=59.28, gdp_cap=1942.284244, Century='19th Century')
Pandas(Index=1015, country='Albania', continent='Europe', year=1962, pop=1728137.0, _5=64.82, gdp_cap=2312.888958, Century='19th Century')
Pandas(Index=1016, country='Albania', continent='Europe', year=1967, pop=1984060.0, _5=66.22, gdp_cap=2760.196931, Century='19th Century')
Pandas(Index=1017, country='Albania', continent='Europe', year=1972, pop=2263554.0, _5=67.69, gdp_cap=3313.422188, Century='19th Century')
Pandas(Index=1018, country='Albania', continent='Europe', year=1977, pop=2509048.0, _5=68.93, gdp_cap=3533.00391, Century='19th Century')
Pandas(Index=1019, country='Albania', continent='Europe', year=1982, pop=2780097.0, _5=70.42, gdp_cap=3630.880722, Century='19th Century')
Pandas(Index=1020, country='Albania', continent='Europe', year=1987, pop=3075321.0, _5=72.0, gdp_cap=3738.932735, Century='19th Century')
Pandas(Index=1021, country='Albania', continent='Europe', year=1992, pop=3326498.0, _5=71.581, gdp_cap=2497.437901, Century='19th Century')
Pandas(Index=1022, country='Albania', continent='Europe', year=1997, pop=3428038.0, _5=72.95, gdp_cap=3193.054604, Century='19th Century')
Pandas(Index=1023, country='Albania', continent='Europe', year=2002, pop=3508512.0, _5=75.651, gdp_cap=4604.211737, Century='20th Century')
Pandas(Index=1024, country='Albania', continent='Europe', year=2007, pop=3600523.0, _5=76.423, gdp_cap=5937.029526, Century='20th Century')
Pandas(Index=1025, country='Algeria', continent='Africa', year=1952, pop=9279525.0, _5=43.077, gdp_cap=2449.008185, Century='19th Century')
Pandas(Index=1026, country='Algeria', continent='Africa', year=1957, pop=10270856.0, _5=45.685, gdp_cap=3013.976023, Century='19th Century')
Pandas(Index=1027, country='Algeria', continent='Africa', year=1962, pop=11000948.0, _5=48.303, gdp_cap=2550.81688, Century='19th Century')
Pandas(Index=1028, country='Algeria', continent='Africa', year=1967, pop=12760499.0, _5=51.407, gdp_cap=3246.991771, Century='19th Century')
Pandas(Index=1029, country='Algeria', continent='Africa', year=1972, pop=14760787.0, _5=54.518, gdp_cap=4182.663766, Century='19th Century')
Pandas(Index=1030, country='Algeria', continent='Africa', year=1977, pop=17152804.0, _5=58.014, gdp_cap=4910.416756, Century='19th Century')
Pandas(Index=1031, country='Algeria', continent='Africa', year=1982, pop=20033753.0, _5=61.368, gdp_cap=5745.160213, Century='19th Century')
Pandas(Index=1032, country='Algeria', continent='Africa', year=1987, pop=23254956.0, _5=65.799, gdp_cap=5681.358539, Century='19th Century')
Pandas(Index=1033, country='Algeria', continent='Africa', year=1992, pop=26298373.0, _5=67.744, gdp_cap=5023.216647, Century='19th Century')
Pandas(Index=1034, country='Algeria', continent='Africa', year=1997, pop=29072015.0, _5=69.152, gdp_cap=4797.295051, Century='19th Century')
Pandas(Index=1035, country='Algeria', continent='Africa', year=2002, pop=31287142.0, _5=70.994, gdp_cap=5288.040382, Century='20th Century')
Pandas(Index=1036, country='Algeria', continent='Africa', year=2007, pop=33333216.0, _5=72.301, gdp_cap=6223.367465, Century='20th Century')
Pandas(Index=1037, country='Angola', continent='Africa', year=1952, pop=4232095.0, _5=30.015, gdp_cap=3520.610273, Century='19th Century')
Pandas(Index=1038, country='Angola', continent='Africa', year=1957, pop=4561361.0, _5=31.999, gdp_cap=3827.940465, Century='19th Century')
Pandas(Index=1039, country='Angola', continent='Africa', year=1962, pop=4826015.0, _5=34.0, gdp_cap=4269.276742, Century='19th Century')
Pandas(Index=1040, country='Angola', continent='Africa', year=1967, pop=5247469.0, _5=35.985, gdp_cap=5522.776375, Century='19th Century')
Pandas(Index=1041, country='Angola', continent='Africa', year=1972, pop=5894858.0, _5=37.928, gdp_cap=5473.288005, Century='19th Century')
Pandas(Index=1042, country='Angola', continent='Africa', year=1977, pop=6162675.0, _5=39.483, gdp_cap=3008.647355, Century='19th Century')
Pandas(Index=1043, country='Angola', continent='Africa', year=1982, pop=7016384.0, _5=39.942, gdp_cap=2756.953672, Century='19th Century')
Pandas(Index=1044, country='Angola', continent='Africa', year=1987, pop=7874230.0, _5=39.906, gdp_cap=2430.208311, Century='19th Century')
Pandas(Index=1045, country='Angola', continent='Africa', year=1992, pop=8735988.0, _5=40.647, gdp_cap=2627.845685, Century='19th Century')
Pandas(Index=1046, country='Angola', continent='Africa', year=1997, pop=9875024.0, _5=40.963, gdp_cap=2277.140884, Century='19th Century')
Pandas(Index=1047, country='Angola', continent='Africa', year=2002, pop=10866106.0, _5=41.003, gdp_cap=2773.287312, Century='20th Century')
Pandas(Index=1048, country='Angola', continent='Africa', year=2007, pop=12420476.0, _5=42.731, gdp_cap=4797.231267, Century='20th Century')
Pandas(Index=1049, country='Argentina', continent='Americas', year=1952, pop=17876956.0, _5=62.485, gdp_cap=5911.315053, Century='19th Century')
Pandas(Index=1050, country='Argentina', continent='Americas', year=1957, pop=19610538.0, _5=64.399, gdp_cap=6856.856212, Century='19th Century')
Pandas(Index=1051, country='Argentina', continent='Americas', year=1962, pop=21283783.0, _5=65.142, gdp_cap=7133.166023, Century='19th Century')
Pandas(Index=1052, country='Argentina', continent='Americas', year=1967, pop=22934225.0, _5=65.634, gdp_cap=8052.953021, Century='19th Century')
Pandas(Index=1053, country='Argentina', continent='Americas', year=1972, pop=24779799.0, _5=67.065, gdp_cap=9443.038526, Century='19th Century')
Pandas(Index=1054, country='Argentina', continent='Americas', year=1977, pop=26983828.0, _5=68.481, gdp_cap=10079.02674, Century='19th Century')
Pandas(Index=1055, country='Argentina', continent='Americas', year=1982, pop=29341374.0, _5=69.942, gdp_cap=8997.897412, Century='19th Century')
Pandas(Index=1056, country='Argentina', continent='Americas', year=1987, pop=31620918.0, _5=70.774, gdp_cap=9139.671389, Century='19th Century')
Pandas(Index=1057, country='Argentina', continent='Americas', year=1992, pop=33958947.0, _5=71.868, gdp_cap=9308.41871, Century='19th Century')
Pandas(Index=1058, country='Argentina', continent='Americas', year=1997, pop=36203463.0, _5=73.275, gdp_cap=10967.28195, Century='19th Century')
Pandas(Index=1059, country='Argentina', continent='Americas', year=2002, pop=38331121.0, _5=74.34, gdp_cap=8797.640716, Century='20th Century')
Pandas(Index=1060, country='Argentina', continent='Americas', year=2007, pop=40301927.0, _5=75.32, gdp_cap=12779.37964, Century='20th Century')
Pandas(Index=1061, country='Australia', continent='Oceania', year=1952, pop=8691212.0, _5=69.12, gdp_cap=10039.59564, Century='19th Century')
Pandas(Index=1062, country='Australia', continent='Oceania', year=1957, pop=9712569.0, _5=70.33, gdp_cap=10949.64959, Century='19th Century')
Pandas(Index=1063, country='Australia', continent='Oceania', year=1962, pop=10794968.0, _5=70.93, gdp_cap=12217.22686, Century='19th Century')
Pandas(Index=1064, country='Australia', continent='Oceania', year=1967, pop=11872264.0, _5=71.1, gdp_cap=14526.12465, Century='19th Century')
Pandas(Index=1065, country='Australia', continent='Oceania', year=1972, pop=13177000.0, _5=71.93, gdp_cap=16788.62948, Century='19th Century')
Pandas(Index=1066, country='Australia', continent='Oceania', year=1977, pop=14074100.0, _5=73.49, gdp_cap=18334.19751, Century='19th Century')
Pandas(Index=1067, country='Australia', continent='Oceania', year=1982, pop=15184200.0, _5=74.74, gdp_cap=19477.00928, Century='19th Century')
Pandas(Index=1068, country='Australia', continent='Oceania', year=1987, pop=16257249.0, _5=76.32, gdp_cap=21888.88903, Century='19th Century')
Pandas(Index=1069, country='Australia', continent='Oceania', year=1992, pop=17481977.0, _5=77.56, gdp_cap=23424.76683, Century='19th Century')
Pandas(Index=1070, country='Australia', continent='Oceania', year=1997, pop=18565243.0, _5=78.83, gdp_cap=26997.93657, Century='19th Century')
Pandas(Index=1071, country='Australia', continent='Oceania', year=2002, pop=19546792.0, _5=80.37, gdp_cap=30687.75473, Century='20th Century')
Pandas(Index=1072, country='Australia', continent='Oceania', year=2007, pop=20434176.0, _5=81.235, gdp_cap=34435.36744, Century='20th Century')
Pandas(Index=1073, country='Austria', continent='Europe', year=1952, pop=6927772.0, _5=66.8, gdp_cap=6137.076492, Century='19th Century')
Pandas(Index=1074, country='Austria', continent='Europe', year=1957, pop=6965860.0, _5=67.48, gdp_cap=8842.59803, Century='19th Century')
Pandas(Index=1075, country='Austria', continent='Europe', year=1962, pop=7129864.0, _5=69.54, gdp_cap=10750.72111, Century='19th Century')
Pandas(Index=1076, country='Austria', continent='Europe', year=1967, pop=7376998.0, _5=70.14, gdp_cap=12834.6024, Century='19th Century')
Pandas(Index=1077, country='Austria', continent='Europe', year=1972, pop=7544201.0, _5=70.63, gdp_cap=16661.6256, Century='19th Century')
Pandas(Index=1078, country='Austria', continent='Europe', year=1977, pop=7568430.0, _5=72.17, gdp_cap=19749.4223, Century='19th Century')
Pandas(Index=1079, country='Austria', continent='Europe', year=1982, pop=7574613.0, _5=73.18, gdp_cap=21597.08362, Century='19th Century')
Pandas(Index=1080, country='Austria', continent='Europe', year=1987, pop=7578903.0, _5=74.94, gdp_cap=23687.82607, Century='19th Century')
Pandas(Index=1081, country='Austria', continent='Europe', year=1992, pop=7914969.0, _5=76.04, gdp_cap=27042.01868, Century='19th Century')
Pandas(Index=1082, country='Austria', continent='Europe', year=1997, pop=8069876.0, _5=77.51, gdp_cap=29095.92066, Century='19th Century')
Pandas(Index=1083, country='Austria', continent='Europe', year=2002, pop=8148312.0, _5=78.98, gdp_cap=32417.60769, Century='20th Century')
Pandas(Index=1084, country='Austria', continent='Europe', year=2007, pop=8199783.0, _5=79.829, gdp_cap=36126.4927, Century='20th Century')
Pandas(Index=1085, country='Bahrain', continent='Asia', year=1952, pop=120447.0, _5=50.939, gdp_cap=9867.084765, Century='19th Century')
Pandas(Index=1086, country='Bahrain', continent='Asia', year=1957, pop=138655.0, _5=53.832, gdp_cap=11635.79945, Century='19th Century')
Pandas(Index=1087, country='Bahrain', continent='Asia', year=1962, pop=171863.0, _5=56.923, gdp_cap=12753.27514, Century='19th Century')
Pandas(Index=1088, country='Bahrain', continent='Asia', year=1967, pop=202182.0, _5=59.923, gdp_cap=14804.6727, Century='19th Century')
Pandas(Index=1089, country='Bahrain', continent='Asia', year=1972, pop=230800.0, _5=63.3, gdp_cap=18268.65839, Century='19th Century')
Pandas(Index=1090, country='Bahrain', continent='Asia', year=1977, pop=297410.0, _5=65.593, gdp_cap=19340.10196, Century='19th Century')
Pandas(Index=1091, country='Bahrain', continent='Asia', year=1982, pop=377967.0, _5=69.052, gdp_cap=19211.14731, Century='19th Century')
Pandas(Index=1092, country='Bahrain', continent='Asia', year=1987, pop=454612.0, _5=70.75, gdp_cap=18524.02406, Century='19th Century')
Pandas(Index=1093, country='Bahrain', continent='Asia', year=1992, pop=529491.0, _5=72.601, gdp_cap=19035.57917, Century='19th Century')
Pandas(Index=1094, country='Bahrain', continent='Asia', year=1997, pop=598561.0, _5=73.925, gdp_cap=20292.01679, Century='19th Century')
Pandas(Index=1095, country='Bahrain', continent='Asia', year=2002, pop=656397.0, _5=74.795, gdp_cap=23403.55927, Century='20th Century')
Pandas(Index=1096, country='Bahrain', continent='Asia', year=2007, pop=708573.0, _5=75.635, gdp_cap=29796.04834, Century='20th Century')
Pandas(Index=1097, country='Bangladesh', continent='Asia', year=1952, pop=46886859.0, _5=37.484, gdp_cap=684.2441716, Century='19th Century')
Pandas(Index=1098, country='Bangladesh', continent='Asia', year=1957, pop=51365468.0, _5=39.348, gdp_cap=661.6374577, Century='19th Century')
Pandas(Index=1099, country='Bangladesh', continent='Asia', year=1962, pop=56839289.0, _5=41.216, gdp_cap=686.3415538, Century='19th Century')
Pandas(Index=1100, country='Bangladesh', continent='Asia', year=1967, pop=62821884.0, _5=43.453, gdp_cap=721.1860862, Century='19th Century')
Pandas(Index=1101, country='Bangladesh', continent='Asia', year=1972, pop=70759295.0, _5=45.252, gdp_cap=630.2336265, Century='19th Century')
Pandas(Index=1102, country='Bangladesh', continent='Asia', year=1977, pop=80428306.0, _5=46.923, gdp_cap=659.8772322, Century='19th Century')
Pandas(Index=1103, country='Bangladesh', continent='Asia', year=1982, pop=93074406.0, _5=50.009, gdp_cap=676.9818656, Century='19th Century')
Pandas(Index=1104, country='Bangladesh', continent='Asia', year=1987, pop=103764241.0, _5=52.819, gdp_cap=751.9794035, Century='19th Century')
Pandas(Index=1105, country='Bangladesh', continent='Asia', year=1992, pop=113704579.0, _5=56.018, gdp_cap=837.8101643, Century='19th Century')
Pandas(Index=1106, country='Bangladesh', continent='Asia', year=1997, pop=123315288.0, _5=59.412, gdp_cap=972.7700352, Century='19th Century')
Pandas(Index=1107, country='Bangladesh', continent='Asia', year=2002, pop=135656790.0, _5=62.013, gdp_cap=1136.39043, Century='20th Century')
Pandas(Index=1108, country='Bangladesh', continent='Asia', year=2007, pop=150448339.0, _5=64.062, gdp_cap=1391.253792, Century='20th Century')
Pandas(Index=1109, country='Belgium', continent='Europe', year=1952, pop=8730405.0, _5=68.0, gdp_cap=8343.105127, Century='19th Century')
Pandas(Index=1110, country='Belgium', continent='Europe', year=1957, pop=8989111.0, _5=69.24, gdp_cap=9714.960623, Century='19th Century')
Pandas(Index=1111, country='Belgium', continent='Europe', year=1962, pop=9218400.0, _5=70.25, gdp_cap=10991.20676, Century='19th Century')
Pandas(Index=1112, country='Belgium', continent='Europe', year=1967, pop=9556500.0, _5=70.94, gdp_cap=13149.04119, Century='19th Century')
Pandas(Index=1113, country='Belgium', continent='Europe', year=1972, pop=9709100.0, _5=71.44, gdp_cap=16672.14356, Century='19th Century')
Pandas(Index=1114, country='Belgium', continent='Europe', year=1977, pop=9821800.0, _5=72.8, gdp_cap=19117.97448, Century='19th Century')
Pandas(Index=1115, country='Belgium', continent='Europe', year=1982, pop=9856303.0, _5=73.93, gdp_cap=20979.84589, Century='19th Century')
Pandas(Index=1116, country='Belgium', continent='Europe', year=1987, pop=9870200.0, _5=75.35, gdp_cap=22525.56308, Century='19th Century')
Pandas(Index=1117, country='Belgium', continent='Europe', year=1992, pop=10045622.0, _5=76.46, gdp_cap=25575.57069, Century='19th Century')
Pandas(Index=1118, country='Belgium', continent='Europe', year=1997, pop=10199787.0, _5=77.53, gdp_cap=27561.19663, Century='19th Century')
Pandas(Index=1119, country='Belgium', continent='Europe', year=2002, pop=10311970.0, _5=78.32, gdp_cap=30485.88375, Century='20th Century')
Pandas(Index=1120, country='Belgium', continent='Europe', year=2007, pop=10392226.0, _5=79.441, gdp_cap=33692.60508, Century='20th Century')
Pandas(Index=1121, country='Benin', continent='Africa', year=1952, pop=1738315.0, _5=38.223, gdp_cap=1062.7522, Century='19th Century')
Pandas(Index=1122, country='Benin', continent='Africa', year=1957, pop=1925173.0, _5=40.358, gdp_cap=959.6010805, Century='19th Century')
Pandas(Index=1123, country='Benin', continent='Africa', year=1962, pop=nan, _5=42.618, gdp_cap=949.4990641, Century='19th Century')
Pandas(Index=1124, country='Benin', continent='Africa', year=1967, pop=2427334.0, _5=44.885, gdp_cap=1035.831411, Century='19th Century')
Pandas(Index=1125, country='Benin', continent='Africa', year=1972, pop=2761407.0, _5=47.014, gdp_cap=1085.796879, Century='19th Century')
Pandas(Index=1126, country='Benin', continent='Africa', year=1977, pop=3168267.0, _5=49.19, gdp_cap=1029.161251, Century='19th Century')
Pandas(Index=1127, country='Benin', continent='Africa', year=1982, pop=3641603.0, _5=50.904, gdp_cap=1277.897616, Century='19th Century')
Pandas(Index=1128, country='Benin', continent='Africa', year=1987, pop=4243788.0, _5=52.337, gdp_cap=1225.85601, Century='19th Century')
Pandas(Index=1129, country='Benin', continent='Africa', year=1992, pop=4981671.0, _5=53.919, gdp_cap=1191.207681, Century='19th Century')
Pandas(Index=1130, country='Benin', continent='Africa', year=1997, pop=6066080.0, _5=54.777, gdp_cap=1232.975292, Century='19th Century')
Pandas(Index=1131, country='Benin', continent='Africa', year=2002, pop=7026113.0, _5=54.406, gdp_cap=1372.877931, Century='20th Century')
Pandas(Index=1132, country='Benin', continent='Africa', year=2007, pop=8078314.0, _5=56.728, gdp_cap=1441.284873, Century='20th Century')
Pandas(Index=1133, country='Bolivia', continent='Americas', year=1952, pop=2883315.0, _5=40.414, gdp_cap=2677.326347, Century='19th Century')
Pandas(Index=1134, country='Bolivia', continent='Americas', year=1957, pop=3211738.0, _5=41.89, gdp_cap=2127.686326, Century='19th Century')
Pandas(Index=1135, country='Bolivia', continent='Americas', year=1962, pop=3593918.0, _5=43.428, gdp_cap=2180.972546, Century='19th Century')
Pandas(Index=1136, country='Bolivia', continent='Americas', year=1967, pop=4040665.0, _5=45.032, gdp_cap=2586.886053, Century='19th Century')
Pandas(Index=1137, country='Bolivia', continent='Americas', year=1972, pop=4565872.0, _5=46.714, gdp_cap=2980.331339, Century='19th Century')
Pandas(Index=1138, country='Bolivia', continent='Americas', year=1977, pop=5079716.0, _5=50.023, gdp_cap=3548.097832, Century='19th Century')
Pandas(Index=1139, country='Bolivia', continent='Americas', year=1982, pop=5642224.0, _5=53.859, gdp_cap=3156.510452, Century='19th Century')
Pandas(Index=1140, country='Bolivia', continent='Americas', year=1987, pop=6156369.0, _5=57.251, gdp_cap=2753.69149, Century='19th Century')
Pandas(Index=1141, country='Bolivia', continent='Americas', year=1992, pop=6893451.0, _5=59.957, gdp_cap=2961.699694, Century='19th Century')
Pandas(Index=1142, country='Bolivia', continent='Americas', year=1997, pop=7693188.0, _5=62.05, gdp_cap=3326.143191, Century='19th Century')

In [41]:
for (index, country,continent, year, pop, life, gdp_cap, Century) in df.itertuples():
    print(country, year, life)

Afghanistan 1952 28.801
Afghanistan 1957 nan
Afghanistan 1962 31.997
Afghanistan 1967 34.02
Afghanistan 1972 36.088
Afghanistan 1977 38.438
Afghanistan 1982 39.854
Afghanistan 1987 40.822
Afghanistan 1992 41.674
Afghanistan 1997 41.763
Afghanistan 2002 42.129
Afghanistan 2007 43.828
Albania 1952 55.23
Albania 1957 59.28
Albania 1962 64.82
Albania 1967 66.22
Albania 1972 67.69
Albania 1977 68.93
Albania 1982 70.42
Albania 1987 72.0
Albania 1992 71.581
Albania 1997 72.95
Albania 2002 75.651
Albania 2007 76.423
Algeria 1952 43.077
Algeria 1957 45.685
Algeria 1962 48.303
Algeria 1967 51.407
Algeria 1972 54.518
Algeria 1977 58.014
Algeria 1982 61.368
Algeria 1987 65.799
Algeria 1992 67.744
Algeria 1997 69.152
Algeria 2002 70.994
Algeria 2007 72.301
Angola 1952 30.015
Angola 1957 31.999
Angola 1962 34.0
Angola 1967 35.985
Angola 1972 37.928
Angola 1977 39.483
Angola 1982 39.942
Angola 1987 39.906
Angola 1992 40.647
Angola 1997 40.963
Angola 2002 41.003
Angola 2007 42.731
Argentina 1952 62.485
Argentina 1957 64.399
Argentina 1962 65.142
Argentina 1967 65.634
Argentina 1972 67.065
Argentina 1977 68.481
Argentina 1982 69.942
Argentina 1987 70.774
Argentina 1992 71.868
Argentina 1997 73.275
Argentina 2002 74.34
Argentina 2007 75.32
Australia 1952 69.12
Australia 1957 70.33
Australia 1962 70.93
Australia 1967 71.1
Australia 1972 71.93
Australia 1977 73.49
Australia 1982 74.74
Australia 1987 76.32
Australia 1992 77.56
Australia 1997 78.83
Australia 2002 80.37
Australia 2007 81.235
Austria 1952 66.8
Austria 1957 67.48
Austria 1962 69.54
Austria 1967 70.14
Austria 1972 70.63
Austria 1977 72.17
Austria 1982 73.18
Austria 1987 74.94
Austria 1992 76.04
Austria 1997 77.51
Austria 2002 78.98
Austria 2007 79.829
Bahrain 1952 50.939
Bahrain 1957 53.832
Bahrain 1962 56.923
Bahrain 1967 59.923
Bahrain 1972 63.3
Bahrain 1977 65.593
Bahrain 1982 69.052
Bahrain 1987 70.75
Bahrain 1992 72.601
Bahrain 1997 73.925
Bahrain 2002 74.795
Bahrain 2007 75.635
Bangladesh 1952 37.484
Bangladesh 1957 39.348
Bangladesh 1962 41.216
Bangladesh 1967 43.453
Bangladesh 1972 45.252
Bangladesh 1977 46.923
Bangladesh 1982 50.009
Bangladesh 1987 52.819
Bangladesh 1992 56.018
Bangladesh 1997 59.412
Bangladesh 2002 62.013
Bangladesh 2007 64.062
Belgium 1952 68.0
Belgium 1957 69.24
Belgium 1962 70.25
Belgium 1967 70.94
Belgium 1972 71.44
Belgium 1977 72.8
Belgium 1982 73.93
Belgium 1987 75.35
Belgium 1992 76.46
Belgium 1997 77.53
Belgium 2002 78.32
Belgium 2007 79.441
Benin 1952 38.223
Benin 1957 40.358
Benin 1962 42.618
Benin 1967 44.885
Benin 1972 47.014
Benin 1977 49.19
Benin 1982 50.904
Benin 1987 52.337
Benin 1992 53.919
Benin 1997 54.777
Benin 2002 54.406
Benin 2007 56.728
Bolivia 1952 40.414
Bolivia 1957 41.89
Bolivia 1962 43.428
Bolivia 1967 45.032
Bolivia 1972 46.714
Bolivia 1977 50.023
Bolivia 1982 53.859
Bolivia 1987 57.251
Bolivia 1992 59.957
Bolivia 1997 62.05
Bolivia 2002 63.883
Bolivia 2007 65.554
Bosnia and Herzegovina 1952 53.82
Bosnia and Herzegovina 1957 58.45
Bosnia and Herzegovina 1962 61.93
Bosnia and Herzegovina 1967 64.79
Bosnia and Herzegovina 1972 67.45
Bosnia and Herzegovina 1977 69.86
Bosnia and Herzegovina 1982 70.69
Bosnia and Herzegovina 1987 71.14
Bosnia and Herzegovina 1992 72.178
Bosnia and Herzegovina 1997 73.244
Bosnia and Herzegovina 2002 74.09
Bosnia and Herzegovina 2007 74.852
Botswana 1952 47.622
Botswana 1957 49.618
Botswana 1962 51.52
Botswana 1967 53.298
Botswana 1972 56.024
Botswana 1977 59.319
Botswana 1982 61.484
Botswana 1987 63.622
Botswana 1992 62.745
Botswana 1997 52.556
Botswana 2002 46.634
Botswana 2007 50.728
Brazil 1952 50.917
Brazil 1957 53.285
Brazil 1962 55.665
Brazil 1967 57.632
Brazil 1972 59.504
Brazil 1977 61.489
Brazil 1982 63.336
Brazil 1987 65.205
Brazil 1992 67.057
Brazil 1997 69.388
Brazil 2002 71.006
Brazil 2007 72.39
Bulgaria 1952 59.6
Bulgaria 1957 66.61
Bulgaria 1962 69.51
Bulgaria 1967 70.42
Bulgaria 1972 nan
Bulgaria 1977 70.81
Bulgaria 1982 71.08
Bulgaria 1987 71.34
Bulgaria 1992 71.19
Bulgaria 1997 70.32
Bulgaria 2002 72.14
Bulgaria 2007 73.005
Burkina Faso 1952 31.975
Burkina Faso 1957 34.906
Burkina Faso 1962 37.814
Burkina Faso 1967 40.697
Burkina Faso 1972 43.591
Burkina Faso 1977 46.137
Burkina Faso 1982 48.122
Burkina Faso 1987 49.557
Burkina Faso 1992 50.26
Burkina Faso 1997 50.324
Burkina Faso 2002 50.65
Burkina Faso 2007 52.295
Burundi 1952 39.031
Burundi 1957 40.533
Burundi 1962 42.045
Burundi 1967 43.548
Burundi 1972 44.057
Burundi 1977 45.91
Burundi 1982 47.471
Burundi 1987 48.211
Burundi 1992 44.736
Burundi 1997 45.326
Burundi 2002 47.36
Burundi 2007 49.58
Cambodia 1952 39.417
Cambodia 1957 41.366
Cambodia 1962 43.415
Cambodia 1967 45.415
Cambodia 1972 40.317
Cambodia 1977 31.22
Cambodia 1982 50.957
Cambodia 1987 53.914
Cambodia 1992 55.803
Cambodia 1997 56.534
Cambodia 2002 56.752
Cambodia 2007 59.723
Cameroon 1952 38.523
Cameroon 1957 40.428
Cameroon 1962 42.643
Cameroon 1967 44.799
Cameroon 1972 47.049
Cameroon 1977 49.355
Cameroon 1982 52.961
Cameroon 1987 54.985
Cameroon 1992 54.314
Cameroon 1997 52.199
Cameroon 2002 49.856
Cameroon 2007 50.43
Canada 1952 68.75
Canada 1957 69.96
Canada 1962 71.3
Canada 1967 72.13
Canada 1972 72.88
Canada 1977 74.21
Canada 1982 75.76
Canada 1987 76.86
Canada 1992 77.95
Canada 1997 78.61
Canada 2002 79.77
Canada 2007 80.653
Central African Republic 1952 35.463
Central African Republic 1957 37.464
Central African Republic 1962 39.475
Central African Republic 1967 41.478
Central African Republic 1972 43.457
Central African Republic 1977 46.775
Central African Republic 1982 48.295
Central African Republic 1987 50.485
Central African Republic 1992 49.396
Central African Republic 1997 46.066
Central African Republic 2002 43.308
Central African Republic 2007 44.741
Chad 1952 38.092
Chad 1957 39.881
Chad 1962 41.716
Chad 1967 43.601
Chad 1972 45.569
Chad 1977 47.383
Chad 1982 49.517
Chad 1987 51.051
Chad 1992 51.724
Chad 1997 51.573
Chad 2002 50.525
Chad 2007 nan
Chile 1952 54.745
Chile 1957 56.074
Chile 1962 57.924
Chile 1967 60.523
Chile 1972 63.441
Chile 1977 67.052
Chile 1982 70.565
Chile 1987 72.492
Chile 1992 74.126
Chile 1997 75.816
Chile 2002 77.86
Chile 2007 78.553
China 1952 44.0
China 1957 50.54896
China 1962 44.50136
China 1967 58.38112
China 1972 63.11888
China 1977 63.96736
China 1982 65.525
China 1987 67.274
China 1992 68.69
China 1997 70.426
China 2002 72.028
China 2007 72.961
Colombia 1952 50.643
Colombia 1957 55.118
Colombia 1962 57.863
Colombia 1967 59.963
Colombia 1972 61.623
Colombia 1977 63.837
Colombia 1982 66.653
Colombia 1987 67.768
Colombia 1992 68.421
Colombia 1997 70.313
Colombia 2002 71.682
Colombia 2007 72.889
Comoros 1952 40.715
Comoros 1957 42.46
Comoros 1962 44.467
Comoros 1967 46.472
Comoros 1972 48.944
Comoros 1977 50.939
Comoros 1982 52.933
Comoros 1987 54.926
Comoros 1992 57.939
Comoros 1997 60.66
Comoros 2002 62.974
Comoros 2007 65.152
Congo, Dem. Rep. 1952 39.143
Congo, Dem. Rep. 1957 40.652
Congo, Dem. Rep. 1962 42.122
Congo, Dem. Rep. 1967 44.056
Congo, Dem. Rep. 1972 45.989
Congo, Dem. Rep. 1977 47.804
Congo, Dem. Rep. 1982 47.784
Congo, Dem. Rep. 1987 47.412
Congo, Dem. Rep. 1992 45.548
Congo, Dem. Rep. 1997 42.587
Congo, Dem. Rep. 2002 44.966
Congo, Dem. Rep. 2007 46.462
Congo, Rep. 1952 42.111
Congo, Rep. 1957 45.053
Congo, Rep. 1962 48.435
Congo, Rep. 1967 52.04
Congo, Rep. 1972 54.907
Congo, Rep. 1977 55.625
Congo, Rep. 1982 56.695
Congo, Rep. 1987 57.47
Congo, Rep. 1992 56.433
Congo, Rep. 1997 52.962
Congo, Rep. 2002 52.97
Congo, Rep. 2007 55.322
Costa Rica 1952 57.206
Costa Rica 1957 60.026
Costa Rica 1962 62.842
Costa Rica 1967 65.424
Costa Rica 1972 67.849
Costa Rica 1977 70.75
Costa Rica 1982 73.45
Costa Rica 1987 74.752
Costa Rica 1992 75.713
Costa Rica 1997 77.26
Costa Rica 2002 78.123
Costa Rica 2007 78.782
Cote d'Ivoire 1952 40.477
Cote d'Ivoire 1957 42.469
Cote d'Ivoire 1962 44.93
Cote d'Ivoire 1967 47.35
Cote d'Ivoire 1972 49.801
Cote d'Ivoire 1977 52.374
Cote d'Ivoire 1982 53.983
Cote d'Ivoire 1987 54.655
Cote d'Ivoire 1992 52.044
Cote d'Ivoire 1997 47.991
Cote d'Ivoire 2002 46.832
Cote d'Ivoire 2007 48.328
Croatia 1952 61.21
Croatia 1957 64.77
Croatia 1962 67.13
Croatia 1967 68.5
Croatia 1972 69.61
Croatia 1977 70.64
Croatia 1982 70.46
Croatia 1987 71.52
Croatia 1992 72.527
Croatia 1997 73.68
Croatia 2002 74.876
Croatia 2007 75.748
Cuba 1952 59.421
Cuba 1957 62.325
Cuba 1962 65.246
Cuba 1967 68.29
Cuba 1972 70.723
Cuba 1977 72.649
Cuba 1982 73.717
Cuba 1987 74.174
Cuba 1992 74.414
Cuba 1997 76.151
Cuba 2002 77.158
Cuba 2007 78.273
Czech Republic 1952 66.87
Czech Republic 1957 69.03
Czech Republic 1962 69.9
Czech Republic 1967 70.38
Czech Republic 1972 70.29
Czech Republic 1977 70.71
Czech Republic 1982 70.96
Czech Republic 1987 71.58
Czech Republic 1992 72.4
Czech Republic 1997 74.01
Czech Republic 2002 75.51
Czech Republic 2007 76.486
Denmark 1952 70.78
Denmark 1957 71.81
Denmark 1962 72.35
Denmark 1967 72.96
Denmark 1972 73.47
Denmark 1977 74.69
Denmark 1982 74.63
Denmark 1987 74.8
Denmark 1992 75.33
Denmark 1997 76.11
Denmark 2002 77.18
Denmark 2007 78.332
Djibouti 1952 34.812
Djibouti 1957 37.328
Djibouti 1962 39.693
Djibouti 1967 42.074
Djibouti 1972 44.366
Djibouti 1977 46.519
Djibouti 1982 48.812
Djibouti 1987 50.04
Djibouti 1992 51.604
Djibouti 1997 53.157
Djibouti 2002 53.373
Djibouti 2007 54.791
Dominican Republic 1952 45.928
Dominican Republic 1957 49.828
Dominican Republic 1962 53.459
Dominican Republic 1967 56.751
Dominican Republic 1972 59.631
Dominican Republic 1977 61.788
Dominican Republic 1982 63.727
Dominican Republic 1987 66.046
Dominican Republic 1992 68.457
Dominican Republic 1997 69.957
Dominican Republic 2002 70.847
Dominican Republic 2007 72.235
Ecuador 1952 48.357
Ecuador 1957 51.356
Ecuador 1962 54.64
Ecuador 1967 56.678
Ecuador 1972 58.796
Ecuador 1977 61.31
Ecuador 1982 64.342
Ecuador 1987 67.231
Ecuador 1992 69.613
Ecuador 1997 72.312
Ecuador 2002 74.173
Ecuador 2007 74.994
Egypt 1952 41.893
Egypt 1957 44.444
Egypt 1962 46.992
Egypt 1967 49.293
Egypt 1972 51.137
Egypt 1977 53.319
Egypt 1982 56.006
Egypt 1987 59.797
Egypt 1992 63.674
Egypt 1997 67.217
Egypt 2002 69.806
Egypt 2007 71.338
El Salvador 1952 45.262
El Salvador 1957 48.57
El Salvador 1962 52.307
El Salvador 1967 55.855
El Salvador 1972 58.207
El Salvador 1977 56.696
El Salvador 1982 56.604
El Salvador 1987 63.154
El Salvador 1992 66.798
El Salvador 1997 69.535
El Salvador 2002 70.734
El Salvador 2007 71.878
Equatorial Guinea 1952 34.482
Equatorial Guinea 1957 35.983
Equatorial Guinea 1962 37.485
Equatorial Guinea 1967 38.987
Equatorial Guinea 1972 40.516
Equatorial Guinea 1977 42.024
Equatorial Guinea 1982 43.662
Equatorial Guinea 1987 45.664
Equatorial Guinea 1992 47.545
Equatorial Guinea 1997 48.245
Equatorial Guinea 2002 49.348
Equatorial Guinea 2007 51.579
Eritrea 1952 35.928
Eritrea 1957 38.047
Eritrea 1962 40.158
Eritrea 1967 42.189
Eritrea 1972 44.142
Eritrea 1977 44.535
Eritrea 1982 43.89
Eritrea 1987 46.453
Eritrea 1992 49.991
Eritrea 1997 53.378
Eritrea 2002 55.24
Eritrea 2007 58.04
Ethiopia 1952 34.078
Ethiopia 1957 36.667
Ethiopia 1962 40.059
Ethiopia 1967 42.115
Ethiopia 1972 43.515
Ethiopia 1977 44.51
Ethiopia 1982 44.916
Ethiopia 1987 46.684
Ethiopia 1992 48.091
Ethiopia 1997 49.402
Ethiopia 2002 50.725
Ethiopia 2007 52.947
Finland 1952 66.55
Finland 1957 67.49
Finland 1962 68.75
Finland 1967 69.83
Finland 1972 70.87
Finland 1977 72.52
Finland 1982 74.55
Finland 1987 74.83
Finland 1992 75.7
Finland 1997 77.13
Finland 2002 78.37
Finland 2007 79.313
France 1952 67.41
France 1957 68.93
France 1962 70.51
France 1967 71.55
France 1972 72.38
France 1977 73.83
France 1982 74.89
France 1987 76.34
France 1992 77.46
France 1997 78.64
France 2002 79.59
France 2007 80.657
Gabon 1952 37.003
Gabon 1957 38.999
Gabon 1962 40.489
Gabon 1967 44.598
Gabon 1972 48.69
Gabon 1977 52.79
Gabon 1982 56.564
Gabon 1987 60.19
Gabon 1992 61.366
Gabon 1997 60.461
Gabon 2002 56.761
Gabon 2007 56.735
Gambia 1952 30.0
Gambia 1957 32.065
Gambia 1962 33.896
Gambia 1967 35.857
Gambia 1972 38.308
Gambia 1977 41.842
Gambia 1982 45.58
Gambia 1987 49.265
Gambia 1992 52.644
Gambia 1997 55.861
Gambia 2002 58.041
Gambia 2007 nan
Germany 1952 67.5
Germany 1957 69.1
Germany 1962 70.3
Germany 1967 70.8
Germany 1972 71.0
Germany 1977 72.5
Germany 1982 73.8
Germany 1987 74.847
Germany 1992 76.07
Germany 1997 77.34
Germany 2002 78.67
Germany 2007 79.406
Ghana 1952 43.149
Ghana 1957 44.779
Ghana 1962 46.452
Ghana 1967 48.072
Ghana 1972 49.875
Ghana 1977 51.756
Ghana 1982 53.744
Ghana 1987 55.729
Ghana 1992 57.501
Ghana 1997 58.556
Ghana 2002 58.453
Ghana 2007 60.022
Greece 1952 65.86
Greece 1957 67.86
Greece 1962 69.51
Greece 1967 71.0
Greece 1972 72.34
Greece 1977 73.68
Greece 1982 nan
Greece 1987 76.67
Greece 1992 77.03
Greece 1997 77.869
Greece 2002 78.256
Greece 2007 79.483
Guatemala 1952 42.023
Guatemala 1957 44.142
Guatemala 1962 46.954
Guatemala 1967 50.016
Guatemala 1972 53.738
Guatemala 1977 56.029
Guatemala 1982 58.137
Guatemala 1987 60.782
Guatemala 1992 63.373
Guatemala 1997 66.322
Guatemala 2002 68.978
Guatemala 2007 70.259
Guinea 1952 33.609
Guinea 1957 34.558
Guinea 1962 35.753
Guinea 1967 37.197
Guinea 1972 38.842
Guinea 1977 40.762
Guinea 1982 42.891
Guinea 1987 45.552
Guinea 1992 48.576
Guinea 1997 51.455
Guinea 2002 53.676
Guinea 2007 56.007
Guinea-Bissau 1952 32.5
Guinea-Bissau 1957 33.489
Guinea-Bissau 1962 34.488
Guinea-Bissau 1967 35.492
Guinea-Bissau 1972 36.486
Guinea-Bissau 1977 37.465
Guinea-Bissau 1982 39.327
Guinea-Bissau 1987 41.245
Guinea-Bissau 1992 43.266
Guinea-Bissau 1997 44.873
Guinea-Bissau 2002 45.504
Guinea-Bissau 2007 46.388
Haiti 1952 37.579
Haiti 1957 40.696
Haiti 1962 43.59
Haiti 1967 46.243
Haiti 1972 48.042
Haiti 1977 49.923
Haiti 1982 51.461
Haiti 1987 53.636
Haiti 1992 55.089
Haiti 1997 56.671
Haiti 2002 58.137
Haiti 2007 60.916
Honduras 1952 41.912
Honduras 1957 44.665
Honduras 1962 48.041
Honduras 1967 50.924
Honduras 1972 53.884
Honduras 1977 57.402
Honduras 1982 60.909
Honduras 1987 64.492
Honduras 1992 66.399
Honduras 1997 67.659
Honduras 2002 68.565
Honduras 2007 70.198
Hong Kong, China 1952 60.96
Hong Kong, China 1957 64.75
Hong Kong, China 1962 67.65
Hong Kong, China 1967 70.0
Hong Kong, China 1972 72.0
Hong Kong, China 1977 73.6
Hong Kong, China 1982 75.45
Hong Kong, China 1987 76.2
Hong Kong, China 1992 77.601
Hong Kong, China 1997 80.0
Hong Kong, China 2002 81.495
Hong Kong, China 2007 82.208
Hungary 1952 64.03
Hungary 1957 66.41
Hungary 1962 67.96
Hungary 1967 69.5
Hungary 1972 69.76
Hungary 1977 69.95
Hungary 1982 69.39
Hungary 1987 69.58
Hungary 1992 69.17
Hungary 1997 71.04
Hungary 2002 72.59
Hungary 2007 73.338
Iceland 1952 72.49
Iceland 1957 73.47
Iceland 1962 73.68
Iceland 1967 73.73
Iceland 1972 74.46
Iceland 1977 76.11
Iceland 1982 76.99
Iceland 1987 77.23
Iceland 1992 78.77
Iceland 1997 78.95
Iceland 2002 80.5
Iceland 2007 81.757
India 1952 37.373
India 1957 40.249
India 1962 43.605
India 1967 47.193
India 1972 50.651
India 1977 54.208
India 1982 56.596
India 1987 58.553
India 1992 60.223
India 1997 61.765
India 2002 62.879
India 2007 64.698
Indonesia 1952 37.468
Indonesia 1957 39.918
Indonesia 1962 42.518
Indonesia 1967 45.964
Indonesia 1972 49.203
Indonesia 1977 52.702
Indonesia 1982 56.159
Indonesia 1987 60.137
Indonesia 1992 62.681
Indonesia 1997 66.041
Indonesia 2002 68.588
Indonesia 2007 70.65
Iran 1952 44.869
Iran 1957 47.181
Iran 1962 49.325
Iran 1967 52.469
Iran 1972 55.234
Iran 1977 57.702
Iran 1982 59.62
Iran 1987 63.04
Iran 1992 65.742
Iran 1997 68.042
Iran 2002 69.451
Iran 2007 70.964
Iraq 1952 45.32
Iraq 1957 48.437
Iraq 1962 51.457
Iraq 1967 54.459
Iraq 1972 56.95
Iraq 1977 60.413
Iraq 1982 62.038
Iraq 1987 65.044
Iraq 1992 59.461
Iraq 1997 58.811
Iraq 2002 57.046
Iraq 2007 59.545
Ireland 1952 66.91
Ireland 1957 68.9
Ireland 1962 70.29
Ireland 1967 71.08
Ireland 1972 71.28
Ireland 1977 72.03
Ireland 1982 73.1
Ireland 1987 74.36
Ireland 1992 75.467
Ireland 1997 76.122
Ireland 2002 77.783
Ireland 2007 78.885
Israel 1952 65.39
Israel 1957 67.84
Israel 1962 69.39
Israel 1967 70.75
Israel 1972 71.63
Israel 1977 73.06
Israel 1982 74.45
Israel 1987 75.6
Israel 1992 76.93
Israel 1997 78.269
Israel 2002 79.696
Israel 2007 80.745
Italy 1952 65.94
Italy 1957 67.81
Italy 1962 69.24
Italy 1967 71.06
Italy 1972 72.19
Italy 1977 73.48
Italy 1982 74.98
Italy 1987 76.42
Italy 1992 77.44
Italy 1997 78.82
Italy 2002 80.24
Italy 2007 80.546
Jamaica 1952 58.53
Jamaica 1957 62.61
Jamaica 1962 65.61
Jamaica 1967 67.51
Jamaica 1972 69.0
Jamaica 1977 70.11
Jamaica 1982 71.21
Jamaica 1987 71.77
Jamaica 1992 71.766
Jamaica 1997 72.262
Jamaica 2002 72.047
Jamaica 2007 72.567
Japan 1952 63.03
Japan 1957 65.5
Japan 1962 68.73
Japan 1967 71.43
Japan 1972 73.42
Japan 1977 75.38
Japan 1982 77.11
Japan 1987 78.67
Japan 1992 79.36
Japan 1997 80.69
Japan 2002 82.0
Japan 2007 82.603
Jordan 1952 43.158
Jordan 1957 45.669
Jordan 1962 48.126
Jordan 1967 51.629
Jordan 1972 56.528
Jordan 1977 61.134
Jordan 1982 63.739
Jordan 1987 65.869
Jordan 1992 68.015
Jordan 1997 69.772
Jordan 2002 71.263
Jordan 2007 72.535
Kenya 1952 42.27
Kenya 1957 44.686
Kenya 1962 47.949
Kenya 1967 50.654
Kenya 1972 53.559
Kenya 1977 56.155
Kenya 1982 58.766
Kenya 1987 59.339
Kenya 1992 59.285
Kenya 1997 54.407
Kenya 2002 50.992
Kenya 2007 54.11
Korea, Dem. Rep. 1952 50.056
Korea, Dem. Rep. 1957 54.081
Korea, Dem. Rep. 1962 56.656
Korea, Dem. Rep. 1967 59.942
Korea, Dem. Rep. 1972 63.983
Korea, Dem. Rep. 1977 67.159
Korea, Dem. Rep. 1982 69.1
Korea, Dem. Rep. 1987 70.647
Korea, Dem. Rep. 1992 69.978
Korea, Dem. Rep. 1997 67.727
Korea, Dem. Rep. 2002 66.662
Korea, Dem. Rep. 2007 67.297
Korea, Rep. 1952 47.453
Korea, Rep. 1957 52.681
Korea, Rep. 1962 55.292
Korea, Rep. 1967 57.716
Korea, Rep. 1972 62.612
Korea, Rep. 1977 64.766
Korea, Rep. 1982 67.123
Korea, Rep. 1987 69.81
Korea, Rep. 1992 72.244
Korea, Rep. 1997 74.647
Korea, Rep. 2002 77.045
Korea, Rep. 2007 78.623
Kuwait 1952 55.565
Kuwait 1957 58.033
Kuwait 1962 60.47
Kuwait 1967 64.624
Kuwait 1972 67.712
Kuwait 1977 69.343
Kuwait 1982 71.309
Kuwait 1987 74.174
Kuwait 1992 75.19
Kuwait 1997 76.156
Kuwait 2002 76.904
Kuwait 2007 77.588
Lebanon 1952 55.928
Lebanon 1957 59.489
Lebanon 1962 62.094
Lebanon 1967 63.87
Lebanon 1972 65.421
Lebanon 1977 66.099
Lebanon 1982 66.983
Lebanon 1987 67.926
Lebanon 1992 69.292
Lebanon 1997 70.265
Lebanon 2002 71.028
Lebanon 2007 71.993
Lesotho 1952 42.138
Lesotho 1957 45.047
Lesotho 1962 47.747
Lesotho 1967 48.492
Lesotho 1972 49.767
Lesotho 1977 52.208
Lesotho 1982 55.078
Lesotho 1987 57.18
Lesotho 1992 59.685
Lesotho 1997 55.558
Lesotho 2002 44.593
Lesotho 2007 42.592
Liberia 1952 38.48
Liberia 1957 39.486
Liberia 1962 40.502
Liberia 1967 41.536
Liberia 1972 42.614
Liberia 1977 43.764
Liberia 1982 44.852
Liberia 1987 46.027
Liberia 1992 40.802
Liberia 1997 42.221
Liberia 2002 43.753
Liberia 2007 45.678
Libya 1952 42.723
Libya 1957 45.289
Libya 1962 47.808
Libya 1967 50.227
Libya 1972 52.773
Libya 1977 57.442
Libya 1982 62.155
Libya 1987 66.234
Libya 1992 68.755
Libya 1997 71.555
Libya 2002 72.737
Libya 2007 73.952
Madagascar 1952 36.681
Madagascar 1957 38.865
Madagascar 1962 40.848
Madagascar 1967 42.881
Madagascar 1972 44.851
Madagascar 1977 46.881
Madagascar 1982 48.969
Madagascar 1987 49.35
Madagascar 1992 52.214
Madagascar 1997 54.978
Madagascar 2002 57.286
Madagascar 2007 59.443
Malawi 1952 36.256
Malawi 1957 37.207
Malawi 1962 38.41
Malawi 1967 39.487
Malawi 1972 41.766
Malawi 1977 43.767
Malawi 1982 45.642
Malawi 1987 47.457
Malawi 1992 49.42
Malawi 1997 47.495
Malawi 2002 45.009
Malawi 2007 48.303
Malaysia 1952 48.463
Malaysia 1957 52.102
Malaysia 1962 55.737
Malaysia 1967 59.371
Malaysia 1972 63.01
Malaysia 1977 65.256
Malaysia 1982 68.0
Malaysia 1987 69.5
Malaysia 1992 70.693
Malaysia 1997 71.938
Malaysia 2002 73.044
Malaysia 2007 74.241
Mali 1952 33.685
Mali 1957 35.307
Mali 1962 36.936
Mali 1967 38.487
Mali 1972 39.977
Mali 1977 41.714
Mali 1982 43.916
Mali 1987 46.364
Mali 1992 48.388
Mali 1997 49.903

### Comparing time in iterrows and itertuples

In [43]:
from datetime import datetime

start = datetime.now()
for index, row in df.iterrows():
    print(row)

print()
print("Time:", datetime.now()-start)

Streaming output truncated to the last 5000 lines.
year                 2007
pop           2.89018e+07
life exp           63.785
gdp_cap           1091.36
Century      20th Century
Name: 2080, dtype: object
country       Netherlands
continent          Europe
year                 1952
pop            1.0382e+07
life exp            72.13
gdp_cap           8941.57
Century      19th Century
Name: 2081, dtype: object
country       Netherlands
continent          Europe
year                 1957
pop           1.10264e+07
life exp            72.99
gdp_cap           11276.2
Century      19th Century
Name: 2082, dtype: object
country       Netherlands
continent          Europe
year                 1962
pop           1.18057e+07
life exp            73.23
gdp_cap           12790.8
Century      19th Century
Name: 2083, dtype: object
country       Netherlands
continent          Europe
year                 1967
pop           1.25968e+07
life exp            73.82
gdp_cap           15363.3
Century      19th Century
Name: 2084, dtype: object
country       Netherlands
continent          Europe
year                 1972
pop           1.33299e+07
life exp            73.75
gdp_cap           18794.7
Century      19th Century
Name: 2085, dtype: object
country       Netherlands
continent          Europe
year                 1977
pop            1.3853e+07
life exp            75.24
gdp_cap           21209.1
Century      19th Century
Name: 2086, dtype: object
country       Netherlands
continent          Europe
year                 1982
pop           1.43104e+07
life exp            76.05
gdp_cap           21399.5
Century      19th Century
Name: 2087, dtype: object
country       Netherlands
continent          Europe
year                 1987
pop           1.46653e+07
life exp            76.83
gdp_cap           23651.3
Century      19th Century
Name: 2088, dtype: object
country       Netherlands
continent          Europe
year                 1992
pop           1.51742e+07
life exp            77.42
gdp_cap           26790.9
Century      19th Century
Name: 2089, dtype: object
country       Netherlands
continent          Europe
year                 1997
pop           1.56045e+07
life exp            78.03
gdp_cap           30246.1
Century      19th Century
Name: 2090, dtype: object
country       Netherlands
continent          Europe
year                 2002
pop           1.61228e+07
life exp            78.53
gdp_cap           33724.8
Century      20th Century
Name: 2091, dtype: object
country       Netherlands
continent          Europe
year                 2007
pop           1.65706e+07
life exp           79.762
gdp_cap           36797.9
Century      20th Century
Name: 2092, dtype: object
country       New Zealand
continent         Oceania
year                 1952
pop           1.99479e+06
life exp            69.39
gdp_cap           10556.6
Century      19th Century
Name: 2093, dtype: object
country       New Zealand
continent         Oceania
year                 1957
pop           2.22941e+06
life exp            70.26
gdp_cap           12247.4
Century      19th Century
Name: 2094, dtype: object
country       New Zealand
continent         Oceania
year                 1962
pop           2.48855e+06
life exp            71.24
gdp_cap           13175.7
Century      19th Century
Name: 2095, dtype: object
country       New Zealand
continent         Oceania
year                 1967
pop           2.72815e+06
life exp            71.52
gdp_cap           14463.9
Century      19th Century
Name: 2096, dtype: object
country       New Zealand
continent         Oceania
year                 1972
pop            2.9291e+06
life exp            71.89
gdp_cap             16046
Century      19th Century
Name: 2097, dtype: object
country       New Zealand
continent         Oceania
year                 1977
pop            3.1649e+06
life exp            72.22
gdp_cap           16233.7
Century      19th Century
Name: 2098, dtype: object
country       New Zealand
continent         Oceania
year                 1982
pop           3.21065e+06
life exp            73.84
gdp_cap           17632.4
Century      19th Century
Name: 2099, dtype: object
country       New Zealand
continent         Oceania
year                 1987
pop           3.31717e+06
life exp            74.32
gdp_cap           19007.2
Century      19th Century
Name: 2100, dtype: object
country       New Zealand
continent         Oceania
year                 1992
pop           3.43767e+06
life exp            76.33
gdp_cap           18363.3
Century      19th Century
Name: 2101, dtype: object
country       New Zealand
continent         Oceania
year                 1997
pop           3.67619e+06
life exp            77.55
gdp_cap           21050.4
Century      19th Century
Name: 2102, dtype: object
country       New Zealand
continent         Oceania
year                 2002
pop           3.90804e+06
life exp            79.11
gdp_cap           23189.8
Century      20th Century
Name: 2103, dtype: object
country       New Zealand
continent         Oceania
year                 2007
pop           4.11577e+06
life exp           80.204
gdp_cap             25185
Century      20th Century
Name: 2104, dtype: object
country         Nicaragua
continent        Americas
year                 1952
pop           1.16579e+06
life exp           42.314
gdp_cap           3112.36
Century      19th Century
Name: 2105, dtype: object
country         Nicaragua
continent        Americas
year                 1957
pop           1.35883e+06
life exp           45.432
gdp_cap           3457.42
Century      19th Century
Name: 2106, dtype: object
country         Nicaragua
continent        Americas
year                 1962
pop            1.5906e+06
life exp           48.632
gdp_cap           3634.36
Century      19th Century
Name: 2107, dtype: object
country         Nicaragua
continent        Americas
year                 1967
pop           1.86549e+06
life exp           51.884
gdp_cap           4643.39
Century      19th Century
Name: 2108, dtype: object
country         Nicaragua
continent        Americas
year                 1972
pop           2.18291e+06
life exp           55.151
gdp_cap           4688.59
Century      19th Century
Name: 2109, dtype: object
country         Nicaragua
continent        Americas
year                 1977
pop            2.5546e+06
life exp            57.47
gdp_cap           5486.37
Century      19th Century
Name: 2110, dtype: object
country         Nicaragua
continent        Americas
year                 1982
pop           2.97942e+06
life exp           59.298
gdp_cap           3470.34
Century      19th Century
Name: 2111, dtype: object
country         Nicaragua
continent        Americas
year                 1987
pop           3.34435e+06
life exp           62.008
gdp_cap           2955.98
Century      19th Century
Name: 2112, dtype: object
country         Nicaragua
continent        Americas
year                 1992
pop           4.01794e+06
life exp           65.843
gdp_cap           2170.15
Century      19th Century
Name: 2113, dtype: object
country         Nicaragua
continent        Americas
year                 1997
pop           4.60957e+06
life exp           68.426
gdp_cap           2253.02
Century      19th Century
Name: 2114, dtype: object
country         Nicaragua
continent        Americas
year                 2002
pop           5.14685e+06
life exp           70.836
gdp_cap           2474.55
Century      20th Century
Name: 2115, dtype: object
country         Nicaragua
continent        Americas
year                 2007
pop           5.67536e+06
life exp           72.899
gdp_cap           2749.32
Century      20th Century
Name: 2116, dtype: object
country             Niger
continent          Africa
year                 1952
pop           3.37947e+06
life exp           37.444
gdp_cap           761.879
Century      19th Century
Name: 2117, dtype: object
country             Niger
continent          Africa
year                 1957
pop           3.69218e+06
life exp           38.598
gdp_cap           835.523
Century      19th Century
Name: 2118, dtype: object
country             Niger
continent          Africa
year                 1962
pop           4.07601e+06
life exp           39.487
gdp_cap           997.766
Century      19th Century
Name: 2119, dtype: object
country             Niger
continent          Africa
year                 1967
pop           4.53406e+06
life exp           40.118
gdp_cap           1054.38
Century      19th Century
Name: 2120, dtype: object
country             Niger
continent          Africa
year                 1972
pop           5.06026e+06
life exp           40.546
gdp_cap           954.209
Century      19th Century
Name: 2121, dtype: object
country             Niger
continent          Africa
year                 1977
pop           5.68209e+06
life exp           41.291
gdp_cap           808.897
Century      19th Century
Name: 2122, dtype: object
country             Niger
continent          Africa
year                 1982
pop           6.43719e+06
life exp           42.598
gdp_cap           909.722
Century      19th Century
Name: 2123, dtype: object
country             Niger
continent          Africa
year                 1987
pop           7.33264e+06
life exp           44.555
gdp_cap             668.3
Century      19th Century
Name: 2124, dtype: object
country             Niger
continent          Africa
year                 1992
pop           8.39282e+06
life exp           47.391
gdp_cap           581.183
Century      19th Century
Name: 2125, dtype: object
country             Niger
continent          Africa
year                 1997
pop           9.66625e+06
life exp           51.313
gdp_cap           580.305
Century      19th Century
Name: 2126, dtype: object
country             Niger
continent          Africa
year                 2002
pop           1.11407e+07
life exp           54.496
gdp_cap           601.075
Century      20th Century
Name: 2127, dtype: object
country             Niger
continent          Africa
year                 2007
pop           1.28949e+07
life exp           56.867
gdp_cap           619.677
Century      20th Century
Name: 2128, dtype: object
country           Nigeria
continent          Africa
year                 1952
pop           3.31191e+07
life exp           36.324
gdp_cap           1077.28
Century      19th Century
Name: 2129, dtype: object
country           Nigeria
continent          Africa
year                 1957
pop           3.71733e+07
life exp           37.802
gdp_cap           1100.59
Century      19th Century
Name: 2130, dtype: object
country           Nigeria
continent          Africa
year                 1962
pop           4.18714e+07
life exp            39.36
gdp_cap           1150.93
Century      19th Century
Name: 2131, dtype: object
country           Nigeria
continent          Africa
year                 1967
pop           4.72878e+07
life exp            41.04
gdp_cap           1014.51
Century      19th Century
Name: 2132, dtype: object
country           Nigeria
continent          Africa
year                 1972
pop           5.37401e+07
life exp           42.821
gdp_cap           1698.39
Century      19th Century
Name: 2133, dtype: object
country           Nigeria
continent          Africa
year                 1977
pop           6.22092e+07
life exp           44.514
gdp_cap           1981.95
Century      19th Century
Name: 2134, dtype: object
country           Nigeria
continent          Africa
year                 1982
pop           7.30394e+07
life exp           45.826
gdp_cap           1576.97
Century      19th Century
Name: 2135, dtype: object
country           Nigeria
continent          Africa
year                 1987
pop           8.15515e+07
life exp           46.886
gdp_cap           1385.03
Century      19th Century
Name: 2136, dtype: object
country           Nigeria
continent          Africa
year                 1992
pop           9.33642e+07
life exp           47.472
gdp_cap           1619.85
Century      19th Century
Name: 2137, dtype: object
country           Nigeria
continent          Africa
year                 1997
pop           1.06208e+08
life exp           47.464
gdp_cap           1624.94
Century      19th Century
Name: 2138, dtype: object
country           Nigeria
continent          Africa
year                 2002
pop           1.19901e+08
life exp           46.608
gdp_cap           1615.29
Century      20th Century
Name: 2139, dtype: object
country           Nigeria
continent          Africa
year                 2007
pop           1.35031e+08
life exp           46.859
gdp_cap           2013.98
Century      20th Century
Name: 2140, dtype: object
country            Norway
continent          Europe
year                 1952
pop           3.32773e+06
life exp            72.67
gdp_cap           10095.4
Century      19th Century
Name: 2141, dtype: object
country            Norway
continent          Europe
year                 1957
pop           3.49194e+06
life exp            73.44
gdp_cap             11654
Century      19th Century
Name: 2142, dtype: object
country            Norway
continent          Europe
year                 1962
pop           3.63892e+06
life exp            73.47
gdp_cap           13450.4
Century      19th Century
Name: 2143, dtype: object
country            Norway
continent          Europe
year                 1967
pop           3.78602e+06
life exp            74.08
gdp_cap           16361.9
Century      19th Century
Name: 2144, dtype: object
country            Norway
continent          Europe
year                 1972
pop             3.933e+06
life exp            74.34
gdp_cap           18965.1
Century      19th Century
Name: 2145, dtype: object
country            Norway
continent          Europe
year                 1977
pop           4.04320e+06
life exp            75.37
gdp_cap           23311.3
Century      19th Century
Name: 2146, dtype: object
country            Norway
continent          Europe
year                 1982
pop           4.11479e+06
life exp            75.97
gdp_cap           26298.6
Century      19th Century
Name: 2147, dtype: object
country            Norway
continent          Europe
year                 1987
pop           4.18615e+06
life exp              NaN
gdp_cap             31541
Century      19th Century
Name: 2148, dtype: object
country            Norway
continent          Europe
year                 1992
pop           4.28636e+06
life exp            77.32
gdp_cap           33965.7
Century      19th Century
Name: 2149, dtype: object
country            Norway
continent          Europe
year                 1997
pop           4.40567e+06
life exp            78.32
gdp_cap           41283.2
Century      19th Century
Name: 2150, dtype: object
country            Norway
continent          Europe
year                 2002
pop           4.53559e+06
life exp            79.05
gdp_cap             44684
Century      20th Century
Name: 2151, dtype: object
country            Norway
continent          Europe
year                 2007
pop           4.62793e+06
life exp           80.196
gdp_cap           49357.2
Century      20th Century
Name: 2152, dtype: object
country              Oman
continent            Asia
year                 1952
pop                507833
life exp           37.578
gdp_cap           1828.23
Century      19th Century
Name: 2153, dtype: object
country              Oman
continent            Asia
year                 1957
pop                561977
life exp            40.08
gdp_cap           2242.75
Century      19th Century
Name: 2154, dtype: object
country              Oman
continent            Asia
year                 1962
pop                628164
life exp           43.165
gdp_cap           2924.64
Century      19th Century
Name: 2155, dtype: object
country              Oman
continent            Asia
year                 1967
pop                714775
life exp           46.988
gdp_cap           4720.94
Century      19th Century
Name: 2156, dtype: object
country              Oman
continent            Asia
year                 1972
pop                829050
life exp              NaN
gdp_cap             10618
Century      19th Century
Name: 2157, dtype: object
country              Oman
continent            Asia
year                 1977
pop           1.00453e+06
life exp           57.367
gdp_cap           11848.3
Century      19th Century
Name: 2158, dtype: object
country              Oman
continent            Asia
year                 1982
pop           1.30105e+06
life exp           62.728
gdp_cap           12954.8
Century      19th Century
Name: 2159, dtype: object
country              Oman
continent            Asia
year                 1987
pop           1.59388e+06
life exp           67.734
gdp_cap           18115.2
Century      19th Century
Name: 2160, dtype: object
country              Oman
continent            Asia
year                 1992
pop           1.91521e+06
life exp           71.197
gdp_cap           18616.7
Century      19th Century
Name: 2161, dtype: object
country              Oman
continent            Asia
year                 1997
pop           2.28364e+06
life exp           72.499
gdp_cap           19702.1
Century      19th Century
Name: 2162, dtype: object
country              Oman
continent            Asia
year                 2002
pop           2.71346e+06
life exp           74.193
gdp_cap           19774.8
Century      20th Century
Name: 2163, dtype: object
country              Oman
continent            Asia
year                 2007
pop            3.2049e+06
life exp            75.64
gdp_cap           22316.2
Century      20th Century
Name: 2164, dtype: object
country          Pakistan
continent            Asia
year                 1952
pop           4.13466e+07
life exp           43.436
gdp_cap           684.597
Century      19th Century
Name: 2165, dtype: object
country          Pakistan
continent            Asia
year                 1957
pop           4.66799e+07
life exp           45.557
gdp_cap           747.084
Century      19th Century
Name: 2166, dtype: object
country          Pakistan
continent            Asia
year                 1962
pop           5.31007e+07
life exp              NaN
gdp_cap           803.343
Century      19th Century
Name: 2167, dtype: object
country          Pakistan
continent            Asia
year                 1967
pop           6.06419e+07
life exp             49.8
gdp_cap           942.408
Century      19th Century
Name: 2168, dtype: object
country          Pakistan
continent            Asia
year                 1972
pop           6.93259e+07
life exp           51.929
gdp_cap           1049.94
Century      19th Century
Name: 2169, dtype: object
country          Pakistan
continent            Asia
year                 1977
pop           7.81527e+07
life exp           54.043
gdp_cap           1175.92
Century      19th Century
Name: 2170, dtype: object
country          Pakistan
continent            Asia
year                 1982
pop           9.14621e+07
life exp           56.158
gdp_cap           1443.43
Century      19th Century
Name: 2171, dtype: object
country          Pakistan
continent            Asia
year                 1987
pop           1.05187e+08
life exp           58.245
gdp_cap           1704.69
Century      19th Century
Name: 2172, dtype: object
country          Pakistan
continent            Asia
year                 1992
pop           1.20065e+08
life exp           60.838
gdp_cap           1971.83
Century      19th Century
Name: 2173, dtype: object
country          Pakistan
continent            Asia
year                 1997
pop           1.35565e+08
life exp           61.818
gdp_cap           2049.35
Century      19th Century
Name: 2174, dtype: object
country          Pakistan
continent            Asia
year                 2002
pop           1.53404e+08
life exp              NaN
gdp_cap           2092.71
Century      20th Century
Name: 2175, dtype: object
country          Pakistan

In [44]:
from datetime import datetime

start = datetime.now()
for row in df.itertuples():
    print(row)

print()
print("Time: ",datetime.now()-start)

Pandas(Index=1000, country='Afghanistan', continent='Asia', year=1952, pop=8425333.0, _5=28.801, gdp_cap=779.4453145, Century='19th Century')
Pandas(Index=1002, country='Afghanistan', continent='Asia', year=1957, pop=9240934.0, _5=nan, gdp_cap=820.8530296, Century='19th Century')
Pandas(Index=1003, country='Afghanistan', continent='Asia', year=1962, pop=10267083.0, _5=31.997, gdp_cap=853.10071, Century='19th Century')
Pandas(Index=1004, country='Afghanistan', continent='Asia', year=1967, pop=11537966.0, _5=34.02, gdp_cap=836.1971382, Century='19th Century')
Pandas(Index=1005, country='Afghanistan', continent='Asia', year=1972, pop=13079460.0, _5=36.088, gdp_cap=739.9811058, Century='19th Century')
Pandas(Index=1006, country='Afghanistan', continent='Asia', year=1977, pop=14880372.0, _5=38.438, gdp_cap=786.11336, Century='19th Century')
Pandas(Index=1007, country='Afghanistan', continent='Asia', year=1982, pop=nan, _5=39.854, gdp_cap=978.0114388, Century='19th Century')
Pandas(Index=1008, country='Afghanistan', continent='Asia', year=1987, pop=13867957.0, _5=40.822, gdp_cap=852.3959448, Century='19th Century')
Pandas(Index=1009, country='Afghanistan', continent='Asia', year=1992, pop=16317921.0, _5=41.674, gdp_cap=649.3413952, Century='19th Century')
Pandas(Index=1010, country='Afghanistan', continent='Asia', year=1997, pop=22227415.0, _5=41.763, gdp_cap=635.341351, Century='19th Century')
Pandas(Index=1011, country='Afghanistan', continent='Asia', year=2002, pop=25268405.0, _5=42.129, gdp_cap=726.7340548, Century='20th Century')
Pandas(Index=1012, country='Afghanistan', continent='Asia', year=2007, pop=31889923.0, _5=43.828, gdp_cap=974.5803384, Century='20th Century')
Pandas(Index=1013, country='Albania', continent='Europe', year=1952, pop=1282697.0, _5=55.23, gdp_cap=1601.056136, Century='19th Century')
Pandas(Index=1014, country='Albania', continent='Europe', year=1957, pop=1476505.0, _5=59.28, gdp_cap=1942.284244, Century='19th Century')
Pandas(Index=1015, country='Albania', continent='Europe', year=1962, pop=1728137.0, _5=64.82, gdp_cap=2312.888958, Century='19th Century')
Pandas(Index=1016, country='Albania', continent='Europe', year=1967, pop=1984060.0, _5=66.22, gdp_cap=2760.196931, Century='19th Century')
Pandas(Index=1017, country='Albania', continent='Europe', year=1972, pop=2263554.0, _5=67.69, gdp_cap=3313.422188, Century='19th Century')
Pandas(Index=1018, country='Albania', continent='Europe', year=1977, pop=2509048.0, _5=68.93, gdp_cap=3533.00391, Century='19th Century')
Pandas(Index=1019, country='Albania', continent='Europe', year=1982, pop=2780097.0, _5=70.42, gdp_cap=3630.880722, Century='19th Century')
Pandas(Index=1020, country='Albania', continent='Europe', year=1987, pop=3075321.0, _5=72.0, gdp_cap=3738.932735, Century='19th Century')
Pandas(Index=1021, country='Albania', continent='Europe', year=1992, pop=3326498.0, _5=71.581, gdp_cap=2497.437901, Century='19th Century')
Pandas(Index=1022, country='Albania', continent='Europe', year=1997, pop=3428038.0, _5=72.95, gdp_cap=3193.054604, Century='19th Century')
Pandas(Index=1023, country='Albania', continent='Europe', year=2002, pop=3508512.0, _5=75.651, gdp_cap=4604.211737, Century='20th Century')
Pandas(Index=1024, country='Albania', continent='Europe', year=2007, pop=3600523.0, _5=76.423, gdp_cap=5937.029526, Century='20th Century')
Pandas(Index=1025, country='Algeria', continent='Africa', year=1952, pop=9279525.0, _5=43.077, gdp_cap=2449.008185, Century='19th Century')
Pandas(Index=1026, country='Algeria', continent='Africa', year=1957, pop=10270856.0, _5=45.685, gdp_cap=3013.976023, Century='19th Century')
Pandas(Index=1027, country='Algeria', continent='Africa', year=1962, pop=11000948.0, _5=48.303, gdp_cap=2550.81688, Century='19th Century')
Pandas(Index=1028, country='Algeria', continent='Africa', year=1967, pop=12760499.0, _5=51.407, gdp_cap=3246.991771, Century='19th Century')
Pandas(Index=1029, country='Algeria', continent='Africa', year=1972, pop=14760787.0, _5=54.518, gdp_cap=4182.663766, Century='19th Century')
Pandas(Index=1030, country='Algeria', continent='Africa', year=1977, pop=17152804.0, _5=58.014, gdp_cap=4910.416756, Century='19th Century')
Pandas(Index=1031, country='Algeria', continent='Africa', year=1982, pop=20033753.0, _5=61.368, gdp_cap=5745.160213, Century='19th Century')
Pandas(Index=1032, country='Algeria', continent='Africa', year=1987, pop=23254956.0, _5=65.799, gdp_cap=5681.358539, Century='19th Century')
Pandas(Index=1033, country='Algeria', continent='Africa', year=1992, pop=26298373.0, _5=67.744, gdp_cap=5023.216647, Century='19th Century')
Pandas(Index=1034, country='Algeria', continent='Africa', year=1997, pop=29072015.0, _5=69.152, gdp_cap=4797.295051, Century='19th Century')
Pandas(Index=1035, country='Algeria', continent='Africa', year=2002, pop=31287142.0, _5=70.994, gdp_cap=5288.040382, Century='20th Century')
Pandas(Index=1036, country='Algeria', continent='Africa', year=2007, pop=33333216.0, _5=72.301, gdp_cap=6223.367465, Century='20th Century')
Pandas(Index=1037, country='Angola', continent='Africa', year=1952, pop=4232095.0, _5=30.015, gdp_cap=3520.610273, Century='19th Century')
Pandas(Index=1038, country='Angola', continent='Africa', year=1957, pop=4561361.0, _5=31.999, gdp_cap=3827.940465, Century='19th Century')
Pandas(Index=1039, country='Angola', continent='Africa', year=1962, pop=4826015.0, _5=34.0, gdp_cap=4269.276742, Century='19th Century')
Pandas(Index=1040, country='Angola', continent='Africa', year=1967, pop=5247469.0, _5=35.985, gdp_cap=5522.776375, Century='19th Century')
Pandas(Index=1041, country='Angola', continent='Africa', year=1972, pop=5894858.0, _5=37.928, gdp_cap=5473.288005, Century='19th Century')
Pandas(Index=1042, country='Angola', continent='Africa', year=1977, pop=6162675.0, _5=39.483, gdp_cap=3008.647355, Century='19th Century')
Pandas(Index=1043, country='Angola', continent='Africa', year=1982, pop=7016384.0, _5=39.942, gdp_cap=2756.953672, Century='19th Century')
Pandas(Index=1044, country='Angola', continent='Africa', year=1987, pop=7874230.0, _5=39.906, gdp_cap=2430.208311, Century='19th Century')
Pandas(Index=1045, country='Angola', continent='Africa', year=1992, pop=8735988.0, _5=40.647, gdp_cap=2627.845685, Century='19th Century')
Pandas(Index=1046, country='Angola', continent='Africa', year=1997, pop=9875024.0, _5=40.963, gdp_cap=2277.140884, Century='19th Century')
Pandas(Index=1047, country='Angola', continent='Africa', year=2002, pop=10866106.0, _5=41.003, gdp_cap=2773.287312, Century='20th Century')
Pandas(Index=1048, country='Angola', continent='Africa', year=2007, pop=12420476.0, _5=42.731, gdp_cap=4797.231267, Century='20th Century')
Pandas(Index=1049, country='Argentina', continent='Americas', year=1952, pop=17876956.0, _5=62.485, gdp_cap=5911.315053, Century='19th Century')
Pandas(Index=1050, country='Argentina', continent='Americas', year=1957, pop=19610538.0, _5=64.399, gdp_cap=6856.856212, Century='19th Century')
Pandas(Index=1051, country='Argentina', continent='Americas', year=1962, pop=21283783.0, _5=65.142, gdp_cap=7133.166023, Century='19th Century')
Pandas(Index=1052, country='Argentina', continent='Americas', year=1967, pop=22934225.0, _5=65.634, gdp_cap=8052.953021, Century='19th Century')
Pandas(Index=1053, country='Argentina', continent='Americas', year=1972, pop=24779799.0, _5=67.065, gdp_cap=9443.038526, Century='19th Century')
Pandas(Index=1054, country='Argentina', continent='Americas', year=1977, pop=26983828.0, _5=68.481, gdp_cap=10079.02674, Century='19th Century')
Pandas(Index=1055, country='Argentina', continent='Americas', year=1982, pop=29341374.0, _5=69.942, gdp_cap=8997.897412, Century='19th Century')
Pandas(Index=1056, country='Argentina', continent='Americas', year=1987, pop=31620918.0, _5=70.774, gdp_cap=9139.671389, Century='19th Century')
Pandas(Index=1057, country='Argentina', continent='Americas', year=1992, pop=33958947.0, _5=71.868, gdp_cap=9308.41871, Century='19th Century')
Pandas(Index=1058, country='Argentina', continent='Americas', year=1997, pop=36203463.0, _5=73.275, gdp_cap=10967.28195, Century='19th Century')
Pandas(Index=1059, country='Argentina', continent='Americas', year=2002, pop=38331121.0, _5=74.34, gdp_cap=8797.640716, Century='20th Century')
Pandas(Index=1060, country='Argentina', continent='Americas', year=2007, pop=40301927.0, _5=75.32, gdp_cap=12779.37964, Century='20th Century')
Pandas(Index=1061, country='Australia', continent='Oceania', year=1952, pop=8691212.0, _5=69.12, gdp_cap=10039.59564, Century='19th Century')
Pandas(Index=1062, country='Australia', continent='Oceania', year=1957, pop=9712569.0, _5=70.33, gdp_cap=10949.64959, Century='19th Century')
Pandas(Index=1063, country='Australia', continent='Oceania', year=1962, pop=10794968.0, _5=70.93, gdp_cap=12217.22686, Century='19th Century')
Pandas(Index=1064, country='Australia', continent='Oceania', year=1967, pop=11872264.0, _5=71.1, gdp_cap=14526.12465, Century='19th Century')
Pandas(Index=1065, country='Australia', continent='Oceania', year=1972, pop=13177000.0, _5=71.93, gdp_cap=16788.62948, Century='19th Century')
Pandas(Index=1066, country='Australia', continent='Oceania', year=1977, pop=14074100.0, _5=73.49, gdp_cap=18334.19751, Century='19th Century')
Pandas(Index=1067, country='Australia', continent='Oceania', year=1982, pop=15184200.0, _5=74.74, gdp_cap=19477.00928, Century='19th Century')
Pandas(Index=1068, country='Australia', continent='Oceania', year=1987, pop=16257249.0, _5=76.32, gdp_cap=21888.88903, Century='19th Century')
Pandas(Index=1069, country='Australia', continent='Oceania', year=1992, pop=17481977.0, _5=77.56, gdp_cap=23424.76683, Century='19th Century')
Pandas(Index=1070, country='Australia', continent='Oceania', year=1997, pop=18565243.0, _5=78.83, gdp_cap=26997.93657, Century='19th Century')
Pandas(Index=1071, country='Australia', continent='Oceania', year=2002, pop=19546792.0, _5=80.37, gdp_cap=30687.75473, Century='20th Century')
Pandas(Index=1072, country='Australia', continent='Oceania', year=2007, pop=20434176.0, _5=81.235, gdp_cap=34435.36744, Century='20th Century')
Pandas(Index=1073, country='Austria', continent='Europe', year=1952, pop=6927772.0, _5=66.8, gdp_cap=6137.076492, Century='19th Century')
Pandas(Index=1074, country='Austria', continent='Europe', year=1957, pop=6965860.0, _5=67.48, gdp_cap=8842.59803, Century='19th Century')
Pandas(Index=1075, country='Austria', continent='Europe', year=1962, pop=7129864.0, _5=69.54, gdp_cap=10750.72111, Century='19th Century')
Pandas(Index=1076, country='Austria', continent='Europe', year=1967, pop=7376998.0, _5=70.14, gdp_cap=12834.6024, Century='19th Century')
Pandas(Index=1077, country='Austria', continent='Europe', year=1972, pop=7544201.0, _5=70.63, gdp_cap=16661.6256, Century='19th Century')
Pandas(Index=1078, country='Austria', continent='Europe', year=1977, pop=7568430.0, _5=72.17, gdp_cap=19749.4223, Century='19th Century')
Pandas(Index=1079, country='Austria', continent='Europe', year=1982, pop=7574613.0, _5=73.18, gdp_cap=21597.08362, Century='19th Century')
Pandas(Index=1080, country='Austria', continent='Europe', year=1987, pop=7578903.0, _5=74.94, gdp_cap=23687.82607, Century='19th Century')
Pandas(Index=1081, country='Austria', continent='Europe', year=1992, pop=7914969.0, _5=76.04, gdp_cap=27042.01868, Century='19th Century')
Pandas(Index=1082, country='Austria', continent='Europe', year=1997, pop=8069876.0, _5=77.51, gdp_cap=29095.92066, Century='19th Century')
Pandas(Index=1083, country='Austria', continent='Europe', year=2002, pop=8148312.0, _5=78.98, gdp_cap=32417.60769, Century='20th Century')
Pandas(Index=1084, country='Austria', continent='Europe', year=2007, pop=8199783.0, _5=79.829, gdp_cap=36126.4927, Century='20th Century')
Pandas(Index=1085, country='Bahrain', continent='Asia', year=1952, pop=120447.0, _5=50.939, gdp_cap=9867.084765, Century='19th Century')
Pandas(Index=1086, country='Bahrain', continent='Asia', year=1957, pop=138655.0, _5=53.832, gdp_cap=11635.79945, Century='19th Century')
Pandas(Index=1087, country='Bahrain', continent='Asia', year=1962, pop=171863.0, _5=56.923, gdp_cap=12753.27514, Century='19th Century')
Pandas(Index=1088, country='Bahrain', continent='Asia', year=1967, pop=202182.0, _5=59.923, gdp_cap=14804.6727, Century='19th Century')
Pandas(Index=1089, country='Bahrain', continent='Asia', year=1972, pop=230800.0, _5=63.3, gdp_cap=18268.65839, Century='19th Century')
Pandas(Index=1090, country='Bahrain', continent='Asia', year=1977, pop=297410.0, _5=65.593, gdp_cap=19340.10196, Century='19th Century')
Pandas(Index=1091, country='Bahrain', continent='Asia', year=1982, pop=377967.0, _5=69.052, gdp_cap=19211.14731, Century='19th Century')
Pandas(Index=1092, country='Bahrain', continent='Asia', year=1987, pop=454612.0, _5=70.75, gdp_cap=18524.02406, Century='19th Century')
Pandas(Index=1093, country='Bahrain', continent='Asia', year=1992, pop=529491.0, _5=72.601, gdp_cap=19035.57917, Century='19th Century')
Pandas(Index=1094, country='Bahrain', continent='Asia', year=1997, pop=598561.0, _5=73.925, gdp_cap=20292.01679, Century='19th Century')
Pandas(Index=1095, country='Bahrain', continent='Asia', year=2002, pop=656397.0, _5=74.795, gdp_cap=23403.55927, Century='20th Century')
Pandas(Index=1096, country='Bahrain', continent='Asia', year=2007, pop=708573.0, _5=75.635, gdp_cap=29796.04834, Century='20th Century')
Pandas(Index=1097, country='Bangladesh', continent='Asia', year=1952, pop=46886859.0, _5=37.484, gdp_cap=684.2441716, Century='19th Century')
Pandas(Index=1098, country='Bangladesh', continent='Asia', year=1957, pop=51365468.0, _5=39.348, gdp_cap=661.6374577, Century='19th Century')
Pandas(Index=1099, country='Bangladesh', continent='Asia', year=1962, pop=56839289.0, _5=41.216, gdp_cap=686.3415538, Century='19th Century')
Pandas(Index=1100, country='Bangladesh', continent='Asia', year=1967, pop=62821884.0, _5=43.453, gdp_cap=721.1860862, Century='19th Century')
Pandas(Index=1101, country='Bangladesh', continent='Asia', year=1972, pop=70759295.0, _5=45.252, gdp_cap=630.2336265, Century='19th Century')
Pandas(Index=1102, country='Bangladesh', continent='Asia', year=1977, pop=80428306.0, _5=46.923, gdp_cap=659.8772322, Century='19th Century')
Pandas(Index=1103, country='Bangladesh', continent='Asia', year=1982, pop=93074406.0, _5=50.009, gdp_cap=676.9818656, Century='19th Century')
Pandas(Index=1104, country='Bangladesh', continent='Asia', year=1987, pop=103764241.0, _5=52.819, gdp_cap=751.9794035, Century='19th Century')
Pandas(Index=1105, country='Bangladesh', continent='Asia', year=1992, pop=113704579.0, _5=56.018, gdp_cap=837.8101643, Century='19th Century')
Pandas(Index=1106, country='Bangladesh', continent='Asia', year=1997, pop=123315288.0, _5=59.412, gdp_cap=972.7700352, Century='19th Century')
Pandas(Index=1107, country='Bangladesh', continent='Asia', year=2002, pop=135656790.0, _5=62.013, gdp_cap=1136.39043, Century='20th Century')
Pandas(Index=1108, country='Bangladesh', continent='Asia', year=2007, pop=150448339.0, _5=64.062, gdp_cap=1391.253792, Century='20th Century')
Pandas(Index=1109, country='Belgium', continent='Europe', year=1952, pop=8730405.0, _5=68.0, gdp_cap=8343.105127, Century='19th Century')
Pandas(Index=1110, country='Belgium', continent='Europe', year=1957, pop=8989111.0, _5=69.24, gdp_cap=9714.960623, Century='19th Century')
Pandas(Index=1111, country='Belgium', continent='Europe', year=1962, pop=9218400.0, _5=70.25, gdp_cap=10991.20676, Century='19th Century')
Pandas(Index=1112, country='Belgium', continent='Europe', year=1967, pop=9556500.0, _5=70.94, gdp_cap=13149.04119, Century='19th Century')
Pandas(Index=1113, country='Belgium', continent='Europe', year=1972, pop=9709100.0, _5=71.44, gdp_cap=16672.14356, Century='19th Century')
Pandas(Index=1114, country='Belgium', continent='Europe', year=1977, pop=9821800.0, _5=72.8, gdp_cap=19117.97448, Century='19th Century')
Pandas(Index=1115, country='Belgium', continent='Europe', year=1982, pop=9856303.0, _5=73.93, gdp_cap=20979.84589, Century='19th Century')
Pandas(Index=1116, country='Belgium', continent='Europe', year=1987, pop=9870200.0, _5=75.35, gdp_cap=22525.56308, Century='19th Century')
Pandas(Index=1117, country='Belgium', continent='Europe', year=1992, pop=10045622.0, _5=76.46, gdp_cap=25575.57069, Century='19th Century')
Pandas(Index=1118, country='Belgium', continent='Europe', year=1997, pop=10199787.0, _5=77.53, gdp_cap=27561.19663, Century='19th Century')
Pandas(Index=1119, country='Belgium', continent='Europe', year=2002, pop=10311970.0, _5=78.32, gdp_cap=30485.88375, Century='20th Century')
Pandas(Index=1120, country='Belgium', continent='Europe', year=2007, pop=10392226.0, _5=79.441, gdp_cap=33692.60508, Century='20th Century')
Pandas(Index=1121, country='Benin', continent='Africa', year=1952, pop=1738315.0, _5=38.223, gdp_cap=1062.7522, Century='19th Century')
Pandas(Index=1122, country='Benin', continent='Africa', year=1957, pop=1925173.0, _5=40.358, gdp_cap=959.6010805, Century='19th Century')
Pandas(Index=1123, country='Benin', continent='Africa', year=1962, pop=nan, _5=42.618, gdp_cap=949.4990641, Century='19th Century')
Pandas(Index=1124, country='Benin', continent='Africa', year=1967, pop=2427334.0, _5=44.885, gdp_cap=1035.831411, Century='19th Century')
Pandas(Index=1125, country='Benin', continent='Africa', year=1972, pop=2761407.0, _5=47.014, gdp_cap=1085.796879, Century='19th Century')
Pandas(Index=1126, country='Benin', continent='Africa', year=1977, pop=3168267.0, _5=49.19, gdp_cap=1029.161251, Century='19th Century')
Pandas(Index=1127, country='Benin', continent='Africa', year=1982, pop=3641603.0, _5=50.904, gdp_cap=1277.897616, Century='19th Century')
Pandas(Index=1128, country='Benin', continent='Africa', year=1987, pop=4243788.0, _5=52.337, gdp_cap=1225.85601, Century='19th Century')
Pandas(Index=1129, country='Benin', continent='Africa', year=1992, pop=4981671.0, _5=53.919, gdp_cap=1191.207681, Century='19th Century')
Pandas(Index=1130, country='Benin', continent='Africa', year=1997, pop=6066080.0, _5=54.777, gdp_cap=1232.975292, Century='19th Century')
Pandas(Index=1131, country='Benin', continent='Africa', year=2002, pop=7026113.0, _5=54.406, gdp_cap=1372.877931, Century='20th Century')
Pandas(Index=1132, country='Benin', continent='Africa', year=2007, pop=8078314.0, _5=56.728, gdp_cap=1441.284873, Century='20th Century')
Pandas(Index=1133, country='Bolivia', continent='Americas', year=1952, pop=2883315.0, _5=40.414, gdp_cap=2677.326347, Century='19th Century')
Pandas(Index=1134, country='Bolivia', continent='Americas', year=1957, pop=3211738.0, _5=41.89, gdp_cap=2127.686326, Century='19th Century')
Pandas(Index=1135, country='Bolivia', continent='Americas', year=1962, pop=3593918.0, _5=43.428, gdp_cap=2180.972546, Century='19th Century')
Pandas(Index=1136, country='Bolivia', continent='Americas', year=1967, pop=4040665.0, _5=45.032, gdp_cap=2586.886053, Century='19th Century')
Pandas(Index=1137, country='Bolivia', continent='Americas', year=1972, pop=4565872.0, _5=46.714, gdp_cap=2980.331339, Century='19th Century')
Pandas(Index=1138, country='Bolivia', continent='Americas', year=1977, pop=5079716.0, _5=50.023, gdp_cap=3548.097832, Century='19th Century')
Pandas(Index=1139, country='Bolivia', continent='Americas', year=1982, pop=5642224.0, _5=53.859, gdp_cap=3156.510452, Century='19th Century')
Pandas(Index=1140, country='Bolivia', continent='Americas', year=1987, pop=6156369.0, _5=57.251, gdp_cap=2753.69149, Century='19th Century')
Pandas(Index=1141, country='Bolivia', continent='Americas', year=1992, pop=6893451.0, _5=59.957, gdp_cap=2961.699694, Century='19th Century')
Pandas(Index=1142, country='Bolivia', continent='Americas', year=1997, pop=7693188.0, _5=62.05, gdp_cap=3326.143191, Century='19th Century')

### Some more Operations

In [45]:
df = df.copy()
df.loc[df['year']>2000,'continent'] = "Asia"

df.head()

           country continent  year  ...  life exp     gdp_cap       Century
index                               ...
1000   Afghanistan      Asia  1952  ...    28.801  779.445314  19th Century
1002   Afghanistan      Asia  1957  ...       NaN  820.853030  19th Century
1003   Afghanistan      Asia  1962  ...    31.997  853.100710  19th Century
1004   Afghanistan      Asia  1967  ...    34.020  836.197138  19th Century
1005   Afghanistan      Asia  1972  ...    36.088  739.981106  19th Century

[5 rows x 7 columns]

In [46]:
# column1 * column2

df['total_gdp']=df['gdp_cap']*df['pop']
df.head()

           country continent  year  ...     gdp_cap       Century     total_gdp
index                               ...
1000   Afghanistan      Asia  1952  ...  779.445314  19th Century  6.567086e+09
1002   Afghanistan      Asia  1957  ...  820.853030  19th Century  7.585449e+09
1003   Afghanistan      Asia  1962  ...  853.100710  19th Century  8.758856e+09
1004   Afghanistan      Asia  1967  ...  836.197138  19th Century  9.648014e+09
1005   Afghanistan      Asia  1972  ...  739.981106  19th Century  9.678553e+09

[5 rows x 8 columns]

In [48]:
# Give mean of Numerical columns group by Year

temp = df.groupby('year').mean()
temp.head()

               pop   life exp      gdp_cap     total_gdp
year
1952  1.684808e+07  49.121858  3748.197692  4.545363e+10
1957  1.892243e+07  51.657581  4299.408345  6.159391e+10
1962  2.055058e+07  53.651371  4725.812342  7.803069e+10
1967  2.294419e+07  55.678290  5514.560535  1.025611e+11
1972  2.400713e+07  57.508100  6770.082815  9.903249e+10

In [49]:
# Give mean of Numerical columns group by Country

temp = df.groupby('country').mean()
temp.head()

               year           pop   life exp      gdp_cap     total_gdp
country
Afghanistan  1979.5  1.609116e+07  38.128545   802.674598  1.271975e+10
Albania      1979.5  2.580249e+06  68.432917  3255.366633  9.094669e+09
Algeria      1979.5  1.987541e+07  59.030167  4426.025973  9.673517e+10
Angola       1979.5  7.309390e+06  37.883500  3607.100529  2.553268e+10
Argentina    1979.5  2.860224e+07  69.060417  8955.553783  2.667541e+11

In [50]:
# Give median of columns: pop and gdp_cap group by Year

temp = df.groupby('year')['pop','gdp_cap'].median()
temp.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

            pop      gdp_cap
year
1952  4005677.0  1969.100980
1957  4282942.0  2173.220291
1962  4690372.0  2335.439533
1967  5127935.0  2678.729839
1972  5844646.5  3339.129407

In [51]:
temp = df[df['year']==df['year'].max()].groupby('continent').size()
temp

continent
Asia    142
dtype: int64

In [52]:
temp = df.groupby('country')['life exp'].agg(lambda x: max(x)-min(x))
temp.head()

country
Afghanistan    15.027
Albania        21.193
Algeria        29.224
Angola         12.716
Argentina      12.835
Name: life exp, dtype: float64

In [53]:
temp = df.groupby(['year','continent'])['gdp_cap'].mean()
temp = temp.unstack(level=1)
temp.head(20)

continent       Africa     Americas          Asia        Europe       Oceania
year
1952       1267.459693  4079.062552   5195.484004   5661.057435  10298.085650
1957       1385.236062  4616.043733   5787.732940   6963.012816  11598.522455
1962       1598.078825  4901.541870   5729.369625   8365.486814  12696.452430
1967       2068.494519  5668.253496   5971.173374  10143.823757  14495.021790
1972       2339.615674  6491.334139   8187.468699  12479.575246  16417.333380
1977       2655.967186  7352.007126   7791.314020  14283.979110  17283.957605
1982       2481.592960  7506.737088   7434.135157  15617.896551  18554.709840
1987       2282.668991  7793.400261   7608.226508  17214.310727  20448.040160
1992       2281.810333  8044.934406   8639.690248  17061.568084  20894.045885
1997       2378.759555  8889.300863   9834.093295  19076.781802  24024.175170
2002               NaN          NaN   9983.502711           NaN           NaN
2007               NaN          NaN  11680.071820           NaN           NaN

In [54]:
temp = df.groupby(['year','continent'])['gdp_cap'].mean()
temp = temp.unstack(level=0)
temp.head(20)

year               1952          1957  ...         2002         2007
continent                              ...
Africa      1267.459693   1385.236062  ...          NaN          NaN
Americas    4079.062552   4616.043733  ...          NaN          NaN
Asia        5195.484004   5787.732940  ...  9983.502711  11680.07182
Europe      5661.057435   6963.012816  ...          NaN          NaN
Oceania    10298.085650  11598.522455  ...          NaN          NaN

[5 rows x 12 columns]

### Pivot Table

In [56]:
# Pivot Table by Rows = Year and Columns = Continents and Values = Life exp

temp1 = pd.pivot_table(df, index="year",columns="continent",values = "life exp")
temp1

continent     Africa   Americas       Asia     Europe  Oceania
year
1952       39.118549  53.279840  46.314394  64.408500   69.255
1957       41.266346  55.960280  49.911874  66.703067   70.295
1962       43.319442  58.398760  51.684886  68.539233   71.085
1967       45.334538  60.410920  54.663640  69.737600   71.310
1972       47.450942  62.394920  57.481027  70.824679   71.910
1977       49.580423  64.391560  59.610556  71.937767   72.855
1982       51.592865  66.228840  62.617939  72.722483   74.290
1987       53.344788  68.090720  64.851182  73.564655   75.320
1992       54.218412  69.568360  66.537212  74.559069   76.945
1997       53.183098  71.265667  68.020515  75.505167   78.190
2002             NaN        NaN  65.645707        NaN      NaN
2007             NaN        NaN  67.137971        NaN      NaN

In [57]:
# Pivot Table by Rows = Continent, Country and Columns = Year and Values = Life exp


temp1 = pd.pivot_table(df, index=["continent","country"],columns="year",values = "life exp")
temp1

year                        1952    1957    1962  ...    1997  2002  2007
continent country                                 ...
Africa    Algeria         43.077  45.685  48.303  ...  69.152   NaN   NaN
          Angola          30.015  31.999  34.000  ...  40.963   NaN   NaN
          Benin           38.223  40.358  42.618  ...  54.777   NaN   NaN
          Botswana        47.622  49.618  51.520  ...  52.556   NaN   NaN
          Burkina Faso    31.975  34.906  37.814  ...  50.324   NaN   NaN
...                          ...     ...     ...  ...     ...   ...   ...
Europe    Switzerland     69.620  70.560  71.320  ...  79.370   NaN   NaN
          Turkey          43.585  48.079  52.098  ...  68.835   NaN   NaN
          United Kingdom  69.180  70.420  70.760  ...  77.218   NaN   NaN
Oceania   Australia       69.120  70.330  70.930  ...  78.830   NaN   NaN
          New Zealand     69.390  70.260  71.240  ...  77.550   NaN   NaN

[251 rows x 12 columns]

In [58]:
# Pivot Table by Rows = Year and Columns = Continents and Values = Sum of Life exp


temp1 = pd.pivot_table(df, index="year",columns="continent",values = "life exp", aggfunc=np.sum)
temp1

continent    Africa  Americas        Asia    Europe  Oceania
year
1952       1995.046  1331.996  1528.37500  1932.255   138.51
1957       2145.850  1399.007  1597.17996  2001.092   140.59
1962       2252.611  1459.969  1653.91636  2056.177   142.17
1967       2357.396  1510.273  1803.90012  2092.128   142.62
1972       2467.449  1559.873  1839.39288  1983.091   143.82
1977       2578.182  1609.789  1967.14836  2158.133   145.71
1982       2682.829  1655.721  2066.39200  2108.952   148.58
1987       2773.929  1702.268  2140.08900  2133.375   150.64
1992       2765.139  1739.209  2195.72800  2162.213   153.89
1997       2712.338  1710.376  2244.67700  2265.155   156.38
2002            NaN       NaN  9190.39900       NaN      NaN
2007            NaN       NaN  9332.17800       NaN      NaN

In [59]:
# Pivot Table by Rows = Year and Columns = Continents and Values = Sum of Life exp and Mean of Life exp


temp1 = pd.pivot_table(df, index="year",columns="continent",values = "life exp", aggfunc=[np.sum, np.mean])
temp1

                sum                        ...       mean
continent    Africa  Americas        Asia  ...       Asia     Europe Oceania
year                                       ...
1952       1995.046  1331.996  1528.37500  ...  46.314394  64.408500  69.255
1957       2145.850  1399.007  1597.17996  ...  49.911874  66.703067  70.295
1962       2252.611  1459.969  1653.91636  ...  51.684886  68.539233  71.085
1967       2357.396  1510.273  1803.90012  ...  54.663640  69.737600  71.310
1972       2467.449  1559.873  1839.39288  ...  57.481027  70.824679  71.910
1977       2578.182  1609.789  1967.14836  ...  59.610556  71.937767  72.855
1982       2682.829  1655.721  2066.39200  ...  62.617939  72.722483  74.290
1987       2773.929  1702.268  2140.08900  ...  64.851182  73.564655  75.320
1992       2765.139  1739.209  2195.72800  ...  66.537212  74.559069  76.945
1997       2712.338  1710.376  2244.67700  ...  68.020515  75.505167  78.190
2002            NaN       NaN  9190.39900  ...  65.645707        NaN     NaN
2007            NaN       NaN  9332.17800  ...  67.137971        NaN     NaN

[12 rows x 10 columns]

In [60]:
# Pivot Table by Rows = Continents and Columns = Year and Values = Max(life)-Min(life)


temp1 = pd.pivot_table(df, index="continent",columns="year",values = "life exp", aggfunc=[lambda life: max(life)-min(life)])
temp1

          <lambda>                          ...
year          1952    1957    1962    1967  ...    1992    1997    2002   2007
continent                                   ...
Africa      22.724  26.519  27.479  27.444  ...  35.282  35.886     NaN    NaN
Americas    31.171  29.264  27.872  27.098  ...  22.861  21.939     NaN    NaN
Asia        36.589     NaN  37.393  37.410  ...  37.686  38.927  42.807  42.99
Europe      29.085  25.391  21.582  19.824  ...  12.624  10.555     NaN    NaN
Oceania      0.270   0.070   0.310   0.420  ...   1.230   1.280     NaN    NaN

[5 rows x 12 columns]

In [61]:
# Shifting values

temp=df.copy()
temp['life1']=temp['life exp'].shift(-4)
temp.head(20)

           country continent  year  ...       Century     total_gdp   life1
index                               ...
1000   Afghanistan      Asia  1952  ...  19th Century  6.567086e+09  36.088
1002   Afghanistan      Asia  1957  ...  19th Century  7.585449e+09  38.438
1003   Afghanistan      Asia  1962  ...  19th Century  8.758856e+09  39.854
1004   Afghanistan      Asia  1967  ...  19th Century  9.648014e+09  40.822
1005   Afghanistan      Asia  1972  ...  19th Century  9.678553e+09  41.674
1006   Afghanistan      Asia  1977  ...  19th Century  1.169766e+10  41.763
1007   Afghanistan      Asia  1982  ...  19th Century           NaN  42.129
1008   Afghanistan      Asia  1987  ...  19th Century  1.182099e+10  43.828
1009   Afghanistan      Asia  1992  ...  19th Century  1.059590e+10  55.230
1010   Afghanistan      Asia  1997  ...  19th Century  1.412200e+10  59.280
1011   Afghanistan      Asia  2002  ...  20th Century  1.836341e+10  64.820
1012   Afghanistan      Asia  2007  ...  20th Century  3.107929e+10  66.220
1013       Albania    Europe  1952  ...  19th Century  2.053670e+09  67.690
1014       Albania    Europe  1957  ...  19th Century  2.867792e+09  68.930
1015       Albania    Europe  1962  ...  19th Century  3.996989e+09  70.420
1016       Albania    Europe  1967  ...  19th Century  5.476396e+09  72.000
1017       Albania    Europe  1972  ...  19th Century  7.500110e+09  71.581
1018       Albania    Europe  1977  ...  19th Century  8.864476e+09  72.950
1019       Albania    Europe  1982  ...  19th Century  1.009420e+10  75.651
1020       Albania    Europe  1987  ...  19th Century  1.149842e+10  76.423

[20 rows x 9 columns]

In [62]:
temp['life_per'] = (temp['life exp']-temp['life exp'].shift(1))/temp['life exp'].shift(1)
temp['life_per'] = temp['life_per']*100
temp.head(20)

           country continent  year  ...     total_gdp   life1   life_per
index                               ...
1000   Afghanistan      Asia  1952  ...  6.567086e+09  36.088        NaN
1002   Afghanistan      Asia  1957  ...  7.585449e+09  38.438        NaN
1003   Afghanistan      Asia  1962  ...  8.758856e+09  39.854        NaN
1004   Afghanistan      Asia  1967  ...  9.648014e+09  40.822   6.322468
1005   Afghanistan      Asia  1972  ...  9.678553e+09  41.674   6.078777
1006   Afghanistan      Asia  1977  ...  1.169766e+10  41.763   6.511860
1007   Afghanistan      Asia  1982  ...           NaN  42.129   3.683855
1008   Afghanistan      Asia  1987  ...  1.182099e+10  43.828   2.428865
1009   Afghanistan      Asia  1992  ...  1.059590e+10  55.230   2.087110
1010   Afghanistan      Asia  1997  ...  1.412200e+10  59.280   0.213562
1011   Afghanistan      Asia  2002  ...  1.836341e+10  64.820   0.876374
1012   Afghanistan      Asia  2007  ...  3.107929e+10  66.220   4.032851
1013       Albania    Europe  1952  ...  2.053670e+09  67.690  26.015333
1014       Albania    Europe  1957  ...  2.867792e+09  68.930   7.332971
1015       Albania    Europe  1962  ...  3.996989e+09  70.420   9.345479
1016       Albania    Europe  1967  ...  5.476396e+09  72.000   2.159827
1017       Albania    Europe  1972  ...  7.500110e+09  71.581   2.219873
1018       Albania    Europe  1977  ...  8.864476e+09  72.950   1.831881
1019       Albania    Europe  1982  ...  1.009420e+10  75.651   2.161613
1020       Albania    Europe  1987  ...  1.149842e+10  76.423   2.243681

[20 rows x 10 columns]

### Cross Tab

In [65]:
count = pd.crosstab(df['continent'], df['Century'])
count

Century    19th Century  20th Century
continent
Africa              520             0
Americas            250             0
Asia                330           284
Europe              300             0
Oceania              20             0

In [67]:
# Convert column types

temp['year'] = temp['year'].astype(str)
temp.dtypes

country       object
continent     object
year          object
pop          float64
life exp     float64
gdp_cap      float64
Century       object
total_gdp    float64
life1        float64
life_per     float64
dtype: object